<h1>Background</h1>
<p class="casdk-help-img"><img src="files/screenshots/background.png" alt="Background"></p>
<hr>
<p>Change your background on the fly.  The first background will reset to your default.</p>
<h3> Adding your own backgrounds:</h3>
<ol>
<li>Choose a image that is 800x480</li>
<li>Go into the folder <code>casdk/apps/app.background/background</code> and put the image in that folder with the others</li>
<li>In that same folder open the file "list.js" and add the name of the file to the list in quotes and comma after like the other list entries.  You can add it anywhere in the list.</li>
<li>Last step is to make the icon which is a smaller copy of the image size 225x135 with the same filename and add it to <code>casdk/apps/app.background/icons</code></li>
</ol>
<p><strong>Controls:</strong></p>
<ul>
<li>Up /Down / Left / Right / Rotate: Select Background</li>
<li>Select: Choose Background</li>
<ul>
