<h1>MultiDash</h1>
<p class="casdk-help-img"><img src="files/screenshots/multidash.png" alt="MultiDash"></p>
<hr>
<p>An immersive yet simplistic digital speedometer app. </p>
<p>Displays basic information about speed, temperature, time, fuel, fuel economy, etc. </p>
<p><a href="https://github.com/kutothe/mazda-dash" class="link">Github Repo</a></p>
<p><strong>Controls:</strong></p>
<ul>
<li>Select: Toggle NA/EU</li>
<li>Rotate Wheel: Change Color Theme</li>
<li>Right / Left: Adjust Brightness</li>
<li>Down: Toggle Font</li>
</ul>
<script src="assets/js/ex-links.js" />
