<h1>Vehicle Data Diagnostic (VDD)</h1>
<p class="casdk-help-img"><img src="files/screenshots/vdd.png" alt="VDD"></p>
<hr>
<p>This is a the frameworks internal application to monitor the data values.  </p>
<p><strong>This app shows all raw data values available to the infotainment system.</strong></p>
<p><a href="https://gitlab.com/casdk/casdk-vdd/" class="link">Gitlab Repo</a></p>
<p><strong>Controls:</strong></p>
<ul>
<li>Left / Right: Select Tab</li>
<li>Rotate Wheel: Scroll Up / Down</li>
<li>Up / Down: Page Up / Down</li>
</ul>
<script src="assets/js/ex-links.js" />
