[app="app.simpledashboard"] {
  background: #000;
}
[app="app.simpledashboard"] div {
  background: rgba(255, 0, 0, 0.1);
  position: absolute;
  top: 45px;
  left: 50px;
  bottom: 50px;
  right: 50px;
  text-align: center;
  line-height: 300px;
  font-size: 300px;
  border: 5px solid rgba(255, 0, 0, 0.25);
  border-radius: 25px;
  color: rgba(255, 255, 255, 0.9);
}
[app="app.simpledashboard"] span {
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  font-size: 25px;
  color: rgba(255, 0, 0, 0.95);
  text-align: center;
  display: block;
  text-transform: uppercase;
}
