node_modules
.idea
*.log
/out
/tmp
_copy_to_usb
operation_log.txt
/releases
*_LOG.*
app.asar
win-unpacked
/resources
*.tgz
ssl
/old_patch_tool/
launch*
/tools
sign.sh
/app/.pki

AIO\.sh

app/files/tweaks/cmu-autorun/
