.MainMenuCtrlComHighlight {
    top: 85px;
}
.MainMenuCtrlSetHighlight {
    left: 550px;
    top: -160px;
}
.MainMenuCtrlAppHighlight {
	left: -125px;
	top: -160px;
}
.MainMenuCtrlNavHighlight {
	left:435px;
}
.MainMenuCtrlEntHighlight {
	left: -5px;
}