<!--
- MZD-AIO-TI
- By: Trezdog44 - Trevor Martin
- http://mazdatweaks.com
- ©2019 Trevelopment
-
- Custom Options For Bigger Album Art Tweak
-
-->

  <tr id="full-titles" class="w3-hover-pale-green w3-tooltip w3-half">
    <td>
      <input id="rmvbg-{{uistyle.fulltitles.id}}" style="top:0" class="w3-check" type="checkbox" ng-model="user.uistyle.fulltitles" ng-value="user.uistyle.fulltitles" />
    </td>
    <td>
      <label for="rmvbg-{{uistyle.fulltitles.id}}" data-toggle="tooltip" data-placement="auto bottom" title="{{uistyle.fulltitles.label}}">{{uistyle.fulltitles.label}}</label>
    </td>
  </tr>
  <tr id="no-albm" class="w3-hover-pale-green w3-tooltip w3-half">
    <td>
      <input id="rmvbg-{{uistyle.noalbm.id}}" style="top:0" class="w3-check" type="checkbox" ng-model="user.uistyle.noalbm" ng-value="user.uistyle.noalbm"/>
    </td>
    <td>
      <label for="rmvbg-{{uistyle.noalbm.id}}" data-toggle="tooltip" data-placement="auto bottom" title="{{uistyle.noalbm.label}}">{{uistyle.noalbm.label}}</label>
    </td>
  </tr>
