<!--
- MZD-AIO-TI
- By: Trezdog44 - Trevor Martin
- http://mazdatweaks.com
- ©2020 Trevelopment
-
- Custom Options For The VideoPlayer App
-
-->
<table>
	<tbody class="w3-col">
		<tr class="w3-hover-pale-blue">
			<td class="w3-bar w3-col">
				<button id="videoPlayerRepoBtn" data-toggle="tooltip" data-placement="auto bottom" title="Video Player Repository on Github" class="w3-btn w3-green w3-half" onclick="externalLink('videoplayergithub')"><i class="icon-device-camera-video"></i>Github Repo</button>
				<button id="tchCtrlMapBtn" data-toggle="tooltip" data-placement="auto bottom" title="View the map for touch controls during video playback" class="w3-btn w3-blue w3-half" data-featherlight="./files/img/scrnCtrlMap.jpg"><i class="icon-map"></i>Touch Control Map</button>
			</td>
		</tr>
    <tr><td class="w3-row w3-col vpOps">
      <div class="w3-third">
        <span>Shuffle</span>
        <select class="w3-select" ng-model="user.vpOps.shuffle" ng-value="user.vpOps.shuffle" ng-options="x for (x,y) in vpOpsShuffle">
        </select>
      </div>
      <div class="w3-third">
        <span>Repeat</span>
        <select class="w3-select" ng-model="user.vpOps.repeat" ng-value="user.vpOps.repeat" ng-options="x for (x,y) in vpOpsRepeat">
        </select>
      </div>
      <div class="w3-third">
        <span>Fullscreen</span>
        <select class="w3-select" ng-model="user.vpOps.fullscreen" ng-value="user.vpOps.fullscreen" ng-options="x for (x,y) in vpOpsFullscreen">
        </select>
      </div>
  </td></tr>
    <tr><td>
      <div class="w3-row w3-col isink"><input id="isink" style="top:0" class="w3-check" type="checkbox" ng-model="user.vpOps.v4lsink" ng-value="user.vpOps.v4lsink" /> <label for="isink">Use v4lsink</label></div>
			<div class="vpaudioHack">
				<h4>Pause Audio Hack</h4>
				<ul>
					 <li><b>Pressing the "Entertainment" (Music) button will pause audio</b></li>
					 <li><b>This only works ONCE AFTER OPENING THE VIDEO PLAYER APP AND BEFORE PLAYING THE FIRST VIDEO</b></li>
					 <li><b>Audio has to be playing from USB or button will function normally</b></li>
					 <li>After it has been done once or the first video is played the entertainment button will function normally</li>
					 <li>You will see a split-second context change... that is the only way I could get the audio to pause.</li>
					</ul>
					</div>
				</td></tr></tbody>
</table>
