<!--
- MZD-AIO-TI
- By: Trezdog44 - Trevor Martin
- http://mazdatweaks.com
- ©2020 Trevelopment
-
- Custom Options For Touchscreen Tweak
-
-->
<div class="w3-col w3-col">
  <div class="w3-hover-pale-green w3-col w3-half">
    <span class="">
      <input id="keepSpeedRestrict" type="checkbox" class="w3-check" name="keepSpeedRestrict" ng-model="user.keepSpeedRestrict" ng-value="user.keepSpeedRestrict" style="top:-2px;margin:0 16px;">
      <label for="keepSpeedRestrict" title="Fix Cluster Compass Issue" data-toggle="tooltip" data-placement="auto bottom">
        <span class="icon-compass22"></span>&nbsp; Fix Cluster Compass
        <div style="font-size:.7em">(Disable Nav Input While Moving)</div>
      </label>
    </span>
  </div>
  <span class="w3-hover-pale-green w3-col w3-half">
    <span class="">
      <input id="enableDVD" type="checkbox" class="w3-check" name="enableDVD" ng-model="user.enableDVD" ng-value="user.enableDVD" style="margin:-4px 16px">
      <label for="enableDVD" title="Enable Playing DVDs While Driving" data-toggle="tooltip" data-placement="auto bottom">
        <span class="icon-cd"></span>&nbsp; DVDs While Driving
      </label>
    </span>
  </span>
</div>
