<!--
- MZD-AIO-TI
- By: Trezdog44 - Trevor Martin
- http://mazdatweaks.com
- ©2019 Trevelopment
-
- Custom Options For Fuel Consumption Tweak
-
-->

<div class="w3-col w3-row">
  <div class="w3-hover-pale-blue w3-row">
      <div class="fuel-check speedo-radio w3-third" ng-repeat="option in fuelOps | filter:twkfltr">
        <input id="fuel{{option.id}}" type="radio" name="{{option.label}}" ng-model="user.fuelOps" ng-value="option.id" ng-disabled="!user.fuelOps.includes({{option.id}}) && user.fuelOps.length > 0">
        <label for="fuel{{option.id}}" data-toggle="tooltip" data-placement="auto bottom" title="{{option.label}}">{{option.label}}</label>
      </div>
  </div>
</tbody>
