<!--
- MZD-AIO-TI
- By: Trezdog44 - Trevor Martin
- http://mazdatweaks.com
- ©2017 Trevelopment
-
- Custom Options For Android Auto Tweak
-
-->
<table>
	<tbody class="w3-col">
		<tr class="w3-hover-pale-blue">
			<td class="aa-side" style="color:#ff0000;font-size:18px;">
        v1.04 - <b>Bluetooth Calling Bug Fixed!  </b> When making or receiving a call you will lose video focus and the screen will seem like it is frozen, press the FAV (<span class="icon-star"></span>) button to regain video focus and the app will function normally.
			</td>
		</tr>
	</tbody>
</table>
<!--table>
	<tbody class="w3-col">
		<tr class="w3-hover-pale-blue w3-tooltip w3-half">
			<td>
				<div class="aaVer-check extraRadio">
					<input id="aaVer0" type="radio" name="aaVer" ng-model="user.aaVer" ng-value="0" value="0">
					<label for="aaVer0" title="Ver 0.99" class="aaVer0"></label>
				</div>
			</td>
			<td>
				<label for="aaVer0" data-toggle="tooltip" data-placement="auto bottom" title="Android Auto Version 0.99">v0.99</label>
			</td>
		</tr>
		<tr class="w3-hover-pale-blue w3-tooltip w3-half">
			<td>
				<div class="aaVer-check extraRadio">
					<input id="aaVer1" type="radio" name="aaVer" ng-model="user.aaVer" ng-value="1" value="1">
					<label for="aaVer1" title="Ver 0.99" class="aaVer1"></label>
				</div>
			</td>
			<td>
				<label for="aaVer1" data-toggle="tooltip" data-placement="auto bottom" title="Android Auto Version 1.02">v1.02</label>
			</td>
		</tr>
	</tbody>
</table>
<div class="w3-col aahelp">
	<div class="w3-hover-pale-blue">
		<div style="color:#ff0000" compile="options[23].toolTip2">
		</div>
	</div>
</div-->
