<!--
- MZD-AIO-TI
- By: Trezdog44 - Trevor Martin
- http://mazdatweaks.com
- ©2017 Trevelopment
-
- Custom Options For USB Audio MOD
-
-->
<table>
  <tbody class="w3-row w3-col gracenote">
    <tr class="w3-hover-pale-blue w3-row w3-col">
      <td class="w3-row w3-col" style="font-size:15px;">
        <label for="gracenoteText" class="w3-large">Gracenote Text</label>
        <a type="button" class="w3-btn w3-small w3-quarter w3-right w3-pale-red" ng-click="user.gracenoteText=''">Clear</a>
        <input class="w3-input" id="gracenoteText" type="text" name="gracenoteText" ng-model="user.gracenoteText" ng-value="user.gracenoteText">
      </td>
    </tr>
  </tbody>
</table>
