<!--
- MZD-AIO-TI
- By: Trezdog44 - Trevor Martin
- http://mazdatweaks.com
- ©2017 Trevelopment
-
- Custom Options For Audio Source List Order
-
-->
<table>
  <tbody class="w3-col">
    <div id="audioSourceOrder" class="w3-row w3-col w3-padding">
      <!--span class="resetBtn"><i class="icon-reload" title="Reset To Default" ng-click="reset_entertainmentItems()"></i></span-->
      <div class="w3-container w3-medium">
        <div ng-repeat="sp in user.entertainmentItems | orderBy: 'pos'" class="w3-row 3-col audio-order">
          <span class="w3-half">{{sp.label}}:</span>
          <input type="number" min="0" max="99" ng-model="sp.pos" ng-value="sp.pos" class="w3-half" />
        </div>
      </div>
    </div>
    <div class="w3-panel">NOTE: This will no show hidden values for your vehicle/region.</div>
  </tbody>
</table>
