[app="app.multicontroller"] .section {
	position: absolute;
	border:1px solid #fff;
	width:100px;
	height:100px;
	line-height:100px;
}

	[app="app.multicontroller"] .section[context="focused"] {
		border-color:red;
	}