#myVideoContainer {
  height: 480px;
  width: 100%;
  position: relative;
  background-image: url('../images/player_background.jpg');
  text-shadow: 2px 2px .8px #000;
}
#myVideoContainer.noBg {
  background-image: none;
  background-color: transparent;
}
#myVideoContainer #ajaxLoader {
  width: 150px;
  height: 150px;
  left: 275px;
  top: 130px;
  position: absolute;
}
#myVideoControlDiv {
  top: 430px;
  right: 0;
  left: 0;
  height: 50px;
  width: 100%;
  position: absolute;
  border-top: 1px solid #444444;
  /*background-color: #000000;*/
}
#myVideoName {
  color: #cccccc;
  font-size: 16px;
  font-family: verdana;
  font-weight: normal;
  height: 23px;
  width: 410px;
  position: absolute;
  left: 12px;
  bottom: 23px;
  display: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#myVideoStatus {
  color: #cccccc;
  font-size: 14px;
  font-family: verdana;
  font-weight: normal;
  height: 23px;
  width: 430px;
  position: absolute;
  left: 12px;
  bottom: 2px;
  display: none;
  overflow: hidden;
  text-overflow: ellipsis;
}
#myVideoControlDiv ul, #videoInfoPanel ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 100%;
  width: 100%;
}
#myVideoControlDiv ul li, #videoInfoPanel ul li {
  float: right;
  padding-left: 42px;
  margin-right: 12px;
  background-repeat: no-repeat !important;
  background-position: 0 7px;
  height: 100%;
}
#myVideoControlDiv ul li a, #videoInfoPanel ul li a {
  display: block;
  color: #cccccc;
  font-size: 16px;
  font-family: verdana;
  font-weight: normal;
  padding-top: 16px;
}
#myVideoControlDiv ul li a {
  padding-bottom: 22px;
}
#myVideoControlDiv ul li:active {
  background: linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  background-repeat: no-repeat !important;
  background-position: 0 3px;
}
.VideoPlayerTmplt .rebootBtnDiv {
  margin-top: 1px;
  margin-left: 10px;
}
#myMusicMetadata {
  top: 66px;
  right: 100px;
  bottom: 50px;
  left: 20px;
  position: absolute;
  font-size: 24px;
  color: #cccccc;
  font-family: verdana;
  overflow: hidden;
  visibility: hidden;
}
#myVideoList {
  top: 66px;
  right: 100px;
  bottom: 50px;
  left: 20px;
  position: absolute;
  font-size: 24px;
  color: #cccccc;
  font-family: verdana;
  overflow: hidden;
}
#myVideoList ul {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  /*overflow-y: scroll;*/
}
#myVideoList ul li {
  border-bottom: 1px solid #666666;
  padding: 10px 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#myVideoScroll {
  top: 20px;
  right: 40px;
  position: absolute;
}
#myVideoScroll {
  margin-top: 25px;
}
#myVideoScroll img, #myVideoScroll li {
  display: block;
  margin-top: 25px;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
#videoPlayControl {
  top: 64px;
  right: 0px;
  bottom: 50px;
  left: 0px;
  position: absolute;
  display: none;
}
#videoPlayControl ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#videoPlayControl ul li {
  float: left;
}
#videoShuffleBtn {
  top: 0;
  right: 30%;
  left: 0;
  width: 25%;
  height: 20%;
  margin: auto;
}
#videoReAllBtn {
  top: 0;
  right: 0;
  left: 30%;
  width: 25%;
  height: 20%;
  margin: auto;
}
#videoStopBtn {
  top: 80%;
  right: 0;
  left: 0;
  width: 50%;
  height: 20%;
  margin: auto;
}
#videoPlayBtn {
  top: 60px;
  bottom: 60px;
  left: 60px;
  right: 60px;
  height: 50%;
  width: 50%;
  margin: auto;
}
#videoNextBtn {
  top: 0;
  left: 80%;
  width: 20%;
  height: 220px;
}
#videoPlayFFBtn {
  top: 52%;
  left: 80%;
  width: 20%;
  height: 47%;
}
#videoPlayRWBtn {
  top: 52%;
  left: 0;
  width: 20%;
  height: 47%;
}
#videoPrevBtn {
  top: 0;
  left: 0;
  width: 20%;
  height: 45%;
}
.VideoPlayerTmplt .videoTouchControls {
  z-index: 20200;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: none;
}
#videoInfoPanel ul li#colorThemes {
  padding-left: 0;
}
#videoInfoPanel ul li#colorThemes a {
  width: 23%;
  border-width: 2px;
  border-style: solid;
  float: left;
  text-align: center;
  margin: 2px;
  padding-bottom: 20px;
}
.VideoPlayerTmplt .selectedItemRed {
  background: -webkit-linear-gradient(to top, rgba(139, 0, 0, 1) 44%, rgba(0, 0, 0, 0.1));
}
.VideoPlayerTmplt .selectedItemBlue {
  background: -webkit-linear-gradient(to top, rgba(0, 0, 139, 1) 44%, rgba(0, 0, 0, 0.1));
}
.VideoPlayerTmplt .selectedItemGreen {
  background: -webkit-linear-gradient(to top, rgba(0, 100, 0, 1) 44%, rgba(0, 0, 0, 0.1));
}
.VideoPlayerTmplt .selectedItemOrange {
  background: -webkit-linear-gradient(to top, rgba(255, 140, 0, 1) 44%, rgba(0, 0, 0, 0.1));
}
.VideoPlayerTmplt .selectedItemTeal {
  background: -webkit-linear-gradient(to top, rgba(0, 139, 139, 1) 44%, rgba(0, 0, 0, 0.1));
}
.VideoPlayerTmplt .selectedItemSlate {
  background: -webkit-linear-gradient(to top, rgba(47, 79, 79, 1) 44%, rgba(0, 0, 0, 0.1));
}
.VideoPlayerTmplt .selectedItemGold {
  background: -webkit-linear-gradient(to top, rgba(184, 134, 11, 1) 44%, rgba(0, 0, 0, 0.1));
}
.VideoPlayerTmplt .selectedItemWhite {
  background: -webkit-linear-gradient(to top, rgba(255, 255, 255, 1) 74%, rgba(0, 0, 0, 0.1));
  color: #000 !important;
  text-shadow: 1px 1.5px 1px #eee !important;
}
.VideoPlayerTmplt .selectedItemPink, .VideoPlayerTmplt .selectedItemViolet {
  background: -webkit-linear-gradient(to top, rgba(148, 0, 211, 1) 44%, rgba(0, 0, 0, 0.1));
}
#myVideoList .selectedItemRed {
  background: -webkit-linear-gradient(to left, rgba(139, 0, 0, 0), rgba(139, 0, 0, 1) 60%);
}
#myVideoList .selectedItemBlue {
  background: -webkit-linear-gradient(to left, rgba(0, 0, 139, 0), rgba(0, 0, 139, 1) 60%);
}
#myVideoList .selectedItemGreen {
  background: -webkit-linear-gradient(to left, rgba(0, 100, 0, 0), rgba(0, 100, 0, 1) 60%);
}
#myVideoList .selectedItemOrange {
  background: -webkit-linear-gradient(to left, rgba(255, 140, 0, 0), rgba(255, 140, 0, 1) 60%);
}
#myVideoList .selectedItemTeal {
  background: -webkit-linear-gradient(to left, rgba(0, 139, 139, 0), rgba(0, 139, 139, 1) 60%);
}
#myVideoList .selectedItemSlate {
  background: -webkit-linear-gradient(to left, rgba(0, 0, 0, 0), rgba(47, 79, 79, 1) 60%);
}
#myVideoList .selectedItemPink, #myVideoList .selectedItemViolet {
  background: -webkit-linear-gradient(to left, rgba(148, 0, 211, 0), rgba(148, 0, 211, 1) 60%);
}
#myVideoList .selectedItemGold {
  background: -webkit-linear-gradient(to left, rgba(184, 134, 11, 0), rgba(184, 134, 11, 1) 60%);
}
#myVideoList .selectedItemWhite {
  background: -webkit-linear-gradient(to left, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 1) 60%);
  color: #000 !important;
  text-shadow: 1px 1.5px 1px #eee !important;
}
#myVideoContainer #memErrorMessage {
  position: absolute;
  font-size: 20px;
  color: #fff;
  background: #000;
  outline: 4px solid #ff0000;
  padding: 15px 0;
  width: 85%;
  top: 20%;
  left: 5%;
  text-align: center;
  z-index: 20600;
  text-shadow: 2px 2px .8px #000;
}
#memErrorMessage ul {
  list-style: none;
}
#memErrorMessage .rebootBtnDiv {
  background-repeat: no-repeat;
  background-size: contain;
  height: 35px;
  padding-left: 42px;
  margin-left: 46.5%;
}
.VideoPlayerTmplt .playbackOption.selectedItem {
  text-shadow: 0 0 5px #fff;
  background: rgba(0, 117, 48, 0.45);
}
#videoInfoPanel {
  position: absolute;
  top: 90px;
  left: 0px;
  right: 0px;
  width: 600px;
  height: 0;
  overflow: hidden;
  transition: 0.2s ease;
  padding: 0px;
  color: #fff;
  margin: auto;
  background-image: url(../images/Info_BG.png);
  background-size: 604px 314px;
  background-position: -2px -2px;
  background-repeat: no-repeat;
  z-index: 20400;
  text-shadow: 2px 2px .5px #000;
}
#videoInfoPanel.showInfo {
  transition: 0.4s;
  height: 310px;
}
aside#widget-content {
  display: block;
  margin: 10px 40px;
  font-size: 13pt;
  height: 235px;
  /*overflow-x: hidden;
  overflow-y: auto;*/
  overflow: hidden;
}
#infoTitle, #optionTitle {
  font-size: 25px;
  font-weight: 700;
  padding-top: 5px;
  width: 100%;
  text-align: center;
}
#myVideoInfoClose {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 32px;
  color: #fff;
}
#myVideoInfoClose a {
  padding: 0 15px;
}
#myVideoInfoClose a:focus, #myVideoInfoClose a:active, #myVideoInfoClose a[class*="selected"] {
  color: #ff0000;
  -webkit-transform: rotate(100deg);
  transform: rotate(100deg);
}
#videoInfoPanel #popOptionsTab, #videoInfoPanel.state #popInfoTab {
  background: #000;
}
#videoInfoPanel #popInfoTab, #videoInfoPanel.state #popOptionsTab {
  background: #0000ee;
}
#videoInfoPanel.state #widgetContent, #videoInfoPanel #widgetContentState {
  display: none;
}
#videoInfoPanel #widgetContent, #videoInfoPanel.state #widgetContentState {
  display: block;
}
#videoInfoPanel ul li {
  float: none;
  line-height: 22px;
  background-position: 0;
}
#widgetContentState ul li {
  line-height: 28px;
  padding-left: 15px;
}
#videoInfoPanel ul li a {
  font-size: 22px;
  width: 50%;
}
#videoInfoPanel #colorThemes [class*="selected"] {
  border-style: dashed;
}
.VideoPlayerTmplt .infoBtn {
  border: 4px solid #00ff00;
  padding: 2px 90px;
  left: 40px;
  top: 8px;
  background: #000;
  position: relative;
  font-size: 20px;
}
.VideoPlayerTmplt .btn {
  height: 50px;
  font-weight: bold;
  font-size: 20px;
  border: none;
  outline: 0;
  padding: 6px 20px;
  margin: 3px;
  vertical-align: middle;
  overflow: hidden;
  color: #000;
  background-color: #fff;
  white-space: nowrap;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.VideoPlayerTmplt #optionTestError {
  float: right;
}
.VideoPlayerTmplt li {
  list-style: none;
  background-repeat: no-repeat;
}
.VideoPlayerTmplt li#colorThemes {
  margin-top: 30px;
}
