<!DOCTYPE html>
<!--
/* ************************************************************************** *\
|** ************************************************************************ **|
|** MZD-AIO-TI                                                               **|
|** By: Trezdog44 - Trevor Martin                                            **|
|** http://mazdatweaks.com                                                   **|
|** ©2017 Trevelopment                                                       **|
|**                                                                          **|
|** An Installer And Uninstaller for 40+ 'Tweaks' For the                    **|
|** Mazda MZD Infotainment System.                                           **|
|**                                                                          **|
|** index.html - The main view.                                              **|
|**                                                                          **|
|** ************************************************************************ **|
\* ************************************************************************** */
-->
<html ng-app="AIO" lang="en-US">
<head>
  <!--base href="/"-->
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1.5">
  <meta name="description" content="MZD-AIO-TI | MZD All In One Tweaks Installer.  An Installer And Uninstaller for 40+ 'Tweaks' For the Mazda MZD Infotainment System.">
  <meta name="author" content="Trevelopment | Trevor G Martin">
  <title>MZD-AIO-TI | MZD All In One Tweaks Installer.</title>
  <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
  <script src="./assets/vendor/jquery.min.js"></script>
  <script src="./assets/vendor/pace.min.js"></script>
  <script src="./assets/js/index.js"></script>
  <script>if (window.module) module = window.module;</script>
  <!--script src="./assets/vendor/angular.js"></script><!- - FOR DEVELOPMENT-->
  <!--script src="./assets/vendor/angular-mocks/angular-mocks.js"></script>-->
  <script src="./assets/vendor/angular.min.js"></script><!-- FOR PRODUCTION -->
  <script src="./assets/vendor/angular-route.js"></script>
  <script src="./assets/vendor/checklist-model.js"></script>
  <script src="./controllers/home.js"></script>
  <link rel="stylesheet" href="./assets/vendor/pace.css">
  <link rel="stylesheet" href="./assets/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="./assets/vendor/featherlight.min.css">
  <link rel="stylesheet" href="./assets/vendor/featherlight.gallery.min.css">
  <link rel="stylesheet" href="./assets/vendor/introjs.css">
  <link rel="stylesheet" href="./assets/vendor/introjs-flattener.css">
  <link rel="stylesheet" href="./assets/vendor/sceditor/minified/themes/modern.min.css">
  <link rel="stylesheet" href="./assets/css/index.css">
  <link rel="stylesheet" href="./assets/css/style.css">
  <link rel="stylesheet" href="./assets/vendor/w3.css">
  <link rel="stylesheet" href="./assets/vendor/ico.css">
  <link rel="stylesheet" href="./assets/vendor/font-awesome.css">
  <link rel="stylesheet" href="./assets/css/checkboxStyles.css">
  <link rel="stylesheet" href="./assets/css/contact.css">
  <link rel="stylesheet" href="./assets/css/help.css">
</head>
<body  onload="" ng-controller="MainCtrl" ng-cloak>
  <div style="height:10px;z-index:999998;" class="hideNavHover w3-top"></div>
  <div class="w3-top hideNav" style="z-index:999999;">
    <ul class="w3-navbar w3-light-grey">
      <li><a href="#/" id="goHome"><span style="font-size:26px" class="icon-home w3-margin"></span></a></li>
      <li class="w3-dropdown-click">
        <a id="" onclick="dropDownMenu('file')">{{menu.file.label}} <span class="icon-caret-down"></span></a>
        <div id="file" class="w3-dropdown-content w3-white w3-card-4">
          <a onclick="$(this).parent().removeClass('w3-show')" ng-click="saveOps()"><i class="icon-save"></i>{{menu.save.label}}</a>
          <a onclick="$(this).parent().removeClass('w3-show')" ng-click="loadOps()"><i class="icon-build"></i>{{menu.load.label}}</a>
          <a onclick="window.close()"><i class="icon-close"></i>{{menu.close.label}}</a>
        </div>
      </li>
      <li class="w3-dropdown-click">
        <a id="" onclick="dropDownMenu('window')">{{menu.window.label}} <span class="icon-caret-down"></span></a>
        <div id="window" class="w3-dropdown-content w3-white w3-card-4">
          <a onclick="$(this).parent().removeClass('w3-show');toggleFullScreen()"><i class="icon-fullscreen"></i>{{menu.fullscreen.label}}</a>
          <a onclick="$(this).parent().removeClass('w3-show')" ng-click="uncheckAll()"><i class="icon-reload"></i>{{menu.resetoptions.label}}</a>
          <a onclick="$(this).parent().removeClass('w3-show');ipc.send('reset-window-size')"><i class="icon-new-window"></i>{{menu.centerwindow.label}}</a>
          <a onclick="location.reload();"><i class="icon-spin"></i>{{menu.reloadapp.label}}</a>
        </div>
      </li>
      <li class="w3-dropdown-click">
        <a id="" onclick="dropDownMenu('downloads')">{{menu.download.label}} <span class="icon-caret-down"></span></a>
        <div id="downloads" class="w3-dropdown-content w3-white w3-card-4">
          <a class="" onclick="$(this).parent().removeClass('w3-show');checkForUpdate()" id="check4updates"><i class="icon-download"></i> Check For Update</a>
          <a class="download" onclick="$(this).parent().removeClass('w3-show');ipc.send('download-aio-files','color-schemes');$(this).hide();"><i class="icon-colorize"></i> {{menu.dlcolors.label}} (105MB)</a>
          <a class="download" onclick="$(this).parent().removeClass('w3-show');externalLink('cmu-autorun');"><i class="icon-directions_run"></i> CMU-Autorun Repository</a>
          <a onclick="$(this).parent().removeClass('w3-show');openDlFolder();"><i class="icon-download"></i> View Downloaded Files</a>
        </div>
      </li>
      <li class="w3-dropdown-click">
        <a id="" onclick="dropDownMenu('language')">{{menu.languages.label}} <span class="icon-caret-down"></span></a>
        <div id="language" class="w3-dropdown-content w3-white w3-card-4">
          <a href="./index.html?lang=english" onclick="$(this).parent().removeClass('w3-show');"><i class="icon-flask"></i> {{languages.en.lang}}</a>
          <a href="./index.html?lang=french" onclick="$(this).parent().removeClass('w3-show');"><i class="icon-star-half-full"></i> {{languages.fr.lang}}</a>
          <a href="./index.html?lang=magyar" onclick="$(this).parent().removeClass('w3-show');"><i class="icon-cake"></i> {{languages.hu.lang}}</a>
          <a href="./index.html?lang=german" onclick="$(this).parent().removeClass('w3-show');"><i class="icon-beaker"></i> {{languages.de.lang}}</a>
          <a href="#/translate" onclick="$(this).parent().removeClass('w3-show');" id="openTranslator"><i class="icon-language"></i> {{menu.translator.label}}</a>
        </div>
      </li>
      <li class="w3-dropdown-click">
        <a id="" onclick="dropDownMenu('help')">{{menu.help.label}} <span class="icon-caret-down"></span></a>
        <div id="help" class="w3-dropdown-content w3-white w3-card-4">
          <a onclick="$(this).parent().removeClass('w3-show');showCompatibility()" id="compatibilityCheck"><i class="icon-laptop2"></i> Compatibility Check</a>
          <a onclick="$(this).parent().removeClass('w3-show');externalLink('mazdatweaks')"><i class="icon-diamond"></i> MazdaTweaks.com</a>
          <a onclick="$(this).parent().removeClass('w3-show');externalLink('mazda3revolution')"><i class="icon-bullhorn"></i> Mazda3Revolution Forum</a>
          <a onclick="$(this).parent().removeClass('w3-show');updateNotes()"><i class="icon-sticky-note"></i> Update Notes</a>
          <a onclick="$(this).parent().removeClass('w3-show');showAnnouncement()"><i class="icon-megaphone4"></i> Announcement</a>
          <a onclick="$(this).parent().removeClass('w3-show');helpDropdown()"><i class="icon-help"></i> {{menu.helppanel.label}}</a>
        </div>
      </li>
      <li id="update-available">
        <a class="w3-hide">Update Available... Downloading Please Wait</a>
      </li>
      <li class="menu-icons menulock" style="width:50px;margin-right:0px;margin-left:-5px;padding-top:4px;padding-bottom: 4px;" data-toggle="tooltip" data-placement="bottom" title="Lock/Unlock Menu Bar"  onclick="saveMenuLock()">
        <span class="icon-lock w3-margin"></span>
      </li>
      <li class="menu-icons" style="margin: 0px 0px 0px 8px;padding-top: 5px;padding-bottom: 3px;" data-toggle="tooltip" data-placement="bottom" title="{{menu.fullscreen.label}}" onclick="toggleFullScreen()">
        <span class="icon-fullscreen" style="padding: 8px;"></span>
      </li>
      <li id="resetWindowSize" class="menu-icons" style="border-radius:50px;padding:4px;" data-toggle="tooltip" data-placement="bottom" title="{{menu.centerwindow.toolTip}}" onclick="ipc.send('reset-window-size')">
        <span class="icon-new-window" style="margin:6px"></span>
      </li>
      <li class="menu-icons w3-hover-spin" style="border-radius:50px;padding:4px" data-toggle="tooltip" data-placement="bottom" title="{{menu.reloadapp.label}}" onclick="location.reload()">
        <span class="icon-refresh" style="margin:6px"></span>
      </li>
      <li id="FW_VER" class="menu-icons w3-hover-spin" style="border-radius:50px;padding:4px;display:none;" data-toggle="popover" title="Info" data-content="">
        <span class="icon-info-with-circle" style="margin:6px"></span>
      </li>
    </ul>
  </div>
  <nav class="w3-sidenav w3-black w3-card-2 w3-animate-left w3-text-shadow w3-xlarge w3-card-2" style="display:none;z-index:99999;position:fixed;" id="mySidenav">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-hover-red w3-closenav w3-xxlarge"><span class="icon-x"></span></a>
    <a class="w3-hover-green w3-ripple" onclick="externalLink('mazdatweaks')"><span class="icon-home"></span> MazdaTweaks.com</a>
    <a class="w3-hover-green w3-ripple" title="{{menu.tour.toolTip}}" onclick="w3_close();" ng-click="startTour()" id="menuTour"><span class="icon-bus"></span> {{menu.tour.label}}</a>
    <a class="w3-hover-green w3-ripple" title="{{menu.installall.toolTip}}" onclick="w3_close();" ng-click="instAll()" id="instAll"><span class="icon-list3"></span> {{menu.installall.label}}</a>
    <a class="w3-hover-green w3-ripple" title="{{menu.uninstallall.toolTip}}" onclick="w3_close();" ng-click="uninstAll()" id="uninstAll"><span class="icon-ungroup"></span> {{menu.uninstallall.label}}</a>
    <a class="w3-hover-green w3-ripple" title="{{menu.lastcompilelog.toolTip}}" onclick="w3_close();" href="#" data-featherlight="../../MZD_LOG.htm" id="opn-mzd-log"><span class="icon-document-alt-fill"></span> {{menu.lastcompilelog.label}}</a>
    <a class="w3-hover-green w3-ripple" title="{{menu.changelog.label}}" onclick="w3_close();" href="#" data-featherlight="changelog.htm" id="opn-changelog"><span class="icon-book"></span> {{menu.changelog.label}}</a>
    <a class="w3-hover-green w3-ripple" title="{{menu.copytousb.toolTip}}" onclick="w3_close();openCopyFolder();"><span class="icon-folder-open"></span> {{menu.copytousb.label}}</a>
    <a class="w3-hover-green w3-ripple" title="{{menu.save.toolTip}}" onclick="w3_close();" ng-click="saveOps();" id="save-btn"><span class="icon-save2"></span> {{menu.save.label}}</a>
    <a class="w3-hover-green w3-ripple" title="{{menu.load.toolTip}}" onclick="w3_close();" ng-click="loadOps();" id="load-btn"><span class="icon-build"></span> {{menu.load.label}}</a>
    <a class="w3-hover-green w3-ripple" title="{{menu.resetoptions.toolTip}}" onclick="w3_close();" ng-click="uncheckAll()" id="reset-ops-btn"><span class="icon-undo"></span> {{menu.resetoptions.label}}</a>
    <a class="w3-hover-green w3-ripple" title="{{menu.reloadapp.toolTip}}" onclick="location.reload();" id="refreshBtn"><span class="icon-spin w3-spin"></span> {{menu.reloadapp.label}}</a>
    <a class="w3-hover-green w3-ripple" title="Full Restore Script" onclick="w3_close();" ng-click="user.restore.full = true" id="fullrestoreBtn"><span class="icon-hdd w3-spin"></span> Full System Restore</a>
    <a class="w3-hover-green w3-ripple" title="CASDK" href="#/casdk" onclick="w3_close();" id="casdkBtn" ng-show="user.twkfltr.toLowerCase() == 'casdk'"><span class="icon-trophy"></span> CASDK</a>
  </nav>
  <div class="w3-overlay w3-animate-opacity" onclick="w3_close();closeHelpDrop();" style="cursor:pointer" id="sidenavOverlay"></div>
  <ng-view ng-hide="user.restore.full" ng-cloak></ng-view>
  <div id="snackbar" class="w3-card-12"></div>
  <span ng-include="'views/fullRestore.htm'" ng-show="user.restore.full"></span>
  <footer>
    <!--span class="test-panel-toggle"><a onclick="$('#TestPanel').toggleClass('w3-hide')">Test Panel</a></span-->
    <span class="footer-donate"><a onclick="donate()"><span class="icon-money"></span> Donate </a></span>
    <span class="footer-secret"><a onclick="secretMenu()"><span class=""></span>  . </a></span>
    <span class="copyright"><span class="copyleft" title="Copyleft" onclick="externalLink('copyleft')" style="cursor:pointer"><span class="symbol">&copy;</span> 2017 <a onclick="externalLink('trevelopment')" title="Copyleft Trevelopment">Trevelopment.</a></span></span>
    <span class="contact-form"><span class="icon-contact_mail"></span><a href="views/contact.html" data-featherlight="ajax" data-featherlight-variant="contact" title="Contact The Developer" id="feedback">Feedback</a></span>
  </footer>
  <script src="./assets/vendor/angular-sanitize.min.js"></script>
  <script src="./assets/vendor/jquery.detect_swipe.js"></script>
  <script src="./assets/vendor/jquery-ui/jquery-ui.min.js"></script>
  <script src="./assets/vendor/jquery.mousewheel.min.js"></script>
  <script src="./assets/vendor/jquery.tabSlide.js"></script>
  <script src="./assets/vendor/w3.js"></script>
  <script src="./assets/vendor/bootstrap.min.js"></script>
  <script src="./assets/vendor/bootbox.min.js"></script>
  <script src="./assets/vendor/intro.js"></script>
  <script src="./assets/vendor/featherlight.min.js"></script>
  <script src="./assets/vendor/featherlight.gallery.min.js"></script>
  <script src="./assets/vendor/showdown.min.js"></script>
  <script src="./assets/js/ex-links.js"></script>
  <script src="./assets/js/build-tweaks.js"></script>
  <script src="./assets/js/notifications.js"></script>
  <script src="./assets/js/events.js"></script>
  <script src="./assets/vendor/jsoneditor.min.js"></script>
  <script src="./assets/vendor/sceditor/minified/jquery.sceditor.min.js"></script>
  <script  type="text/javascript">
  const alertOnlineStatus = () => {
    console.log(navigator.onLine ? 'online' : 'offline');
  }
  firstTimeVisit();
  if (navigator.onLine) {
    var translateUrl = "https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit";
    $.getScript(translateUrl, function (data, textStatus, jqxhr) {
      // console.log( data ) // Data returned
      // console.log( textStatus ) // Success
      // console.log( jqxhr.status ) // 200
    })
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'ar,bg,cs,da,de,es,fa,fi,fr,ga,haw,hi,hu,id,is,it,iw,ja,jv,ko,ku,la,lo,lt,lv,mn,ms,mt,ne,nl,no,pa,pl,pt,ro,ru,sk,sl,sm,sr,sv,th,tl,tr,uk,vi,zh-CN,zh-TW', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
    }
    $(announcement)
  }
  if (isDev) { $('#casdkBtn').removeClass('w3-hide') }
  </script>
  <img style="position:fixed;bottom:0;left:0;z-index:-1;" height="0" width="0" alt=" " src="http://link.screenbid.com/q1au" onerror="$(this).remove()"/>
  <img style="position:fixed;bottom:0;left:0;z-index:-1;" height="0" width="0" alt=" " src="http://aio.trevelopment.win/v2_5" onerror="$(this).remove()" />
</body>
</html>
