#SbSpeedo {
    font-family:Tipperary,verdana;
    color: white;
    height: 64px;
    position: absolute;
    right: 115px;
    top: 0px;
    width: 84px;
    z-index: 20200;
    /* text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000; */
}
#SbSpeedo .gpsSpeedValue,
#SbSpeedo .gpsAltitudeValue,
#SbSpeedo .gpsHeading {
    text-align: right;
    position: absolute;
}
#SbSpeedo .gpsSpeedValue {
    font-size: 40px;
    line-height: 40px;
    height: 40px;
    top: 23px;
    right: 16px;
    width: 100%;
}
#SbSpeedo .speedUnit {
    color: #DDDDDD;
    font-size: 12px;
    position: absolute;
    width: 30px;
    right: -8px;
    transform: rotate(-90deg);
    bottom: 14px;
}
#SbSpeedo .gpsAltitudeValue,
#SbSpeedo .gpsHeading {
    padding-right: 24px;
    background: transparent url('IcnCompass.png') no-repeat scroll right 0px / 18px 18px;
    font-size: 17px;
    line-height: 17px;
    height: 20px;
    top: 6px;
    right: 17px;
}
#SbSpeedo .gpsAltitudeValue {
    display: none;
    background-image: url('IcnMountain.png');
}

/*** Statusbar speedo style if more than 3 SbIcons ***/
#SbSpeedo.morespace .gpsAltitudeValue,
#SbSpeedo.morespace .gpsHeading {
    right: 40px;
}

/*** Statusbar speedo style inside backupparking app ***/
#SbSpeedo.parking {
    width: 160px;
    height: 45px;
    right: 320px;
    /* opacity: 0.8; */
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0 0 5px 5px;
}
#SbSpeedo.parking .gpsSpeedValue {
    right: 19px;
    top: 3px;
}
#SbSpeedo.parking .speedUnit {
    right: -5px;
    bottom: 15px;
}
#SbSpeedo.parking .gpsAltitudeValue {
    display: block !important;
    right: 88px;
}
#SbSpeedo.parking .gpsHeading {
    display: block !important;
    right: 88px;
    top: 23px;
}
.SbnCtrl {
	background-image: none!important;
}
