.AndroidAutoTmplt {
  font-family: "Tipperary", "Arial", "Helvetica", "sans-serif";
  vertical-align: middle;
  text-align: center;
}
.AndroidAutoTmplt textarea {
  font-family: "Tipperary", "Arial", "Helvetica", "sans-serif";
}
