#speedometerContainer {
  right:0;
  bottom:0;
  left:0;
  height:100%;
  width:100%;
  z-index:20001;
  position:absolute;
}
#speedometerMainDiv {
  width: 700px;
  height: 395px;
  top: 10px;
  left: 50px;
  position: absolute;
}
#speedbarMainDiv {
  width: 510px;
  height: 275px;
  top: 8px;
  left: 0px;
  position: absolute;
  margin: auto;
}
#vehdataMainDiv {
  width: 700px;
  height: 120px;
  top: 290px;
  left: 0px;
  position: absolute;
}
div.phile {
  width: 700px;
  border: 1px dotted #EFFBF8;
}
#speeddataMainDiv {
  width: 210px;
  height: 270px;
  top: 0px;
  left: 490px;
  position: absolute;
}
#speedometerContainer .vehDataLegends {
  padding-left:1px;
  padding-right:1px;
  border-left:0px;
  font-size:18px;
  margin: auto;
  overflow: hidden;
  max-width: 110px;
  text-overflow: ellipsis;
  text-align: center !important;
}
#speedometerContainer .vehDataMain .vehDataLegends {
    max-width: 150px;
}
#speedometerContainer #vehdataMainDiv fieldset {
  position:absolute;
  right: 0;
  width: 170px;
  height: 50px;
  color: #ccc;
  white-space: nowrap;
  text-align: center !important;
  border-width: 2px 0 0 0;
}

#speedometerContainer #vehdataMainDiv fieldset div {
  font-family: "Crystal", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-stretch: condensed;
  vertical-align: middle;
  font-weight: normal;
  font-style: normal;
  margin-top: 5px;
  font-size: 35px;
  color:white;
}
#speedometerContainer #vehdataMainDiv [class*="vehDataMain"] div  {
  margin-top: 2px;
  font-size: 35px;
}
#speedometerContainer .speedTopValue span {
  display: none;
}
#speedometerContainer .idleTimeValue span,
#speedometerContainer .Drv1AvlFuelEValue span {
  padding-right: 6px;
  font-size: 12px;
}
#speedometerContainer #vehdataMainDiv fieldset .gpsLatitudeValue,
#speedometerContainer #vehdataMainDiv fieldset .gpsLongitudeValue,
#speedometerContainer #vehdataMainDiv fieldset .gpsAltitudeMinMax {
  font-size: 22px;
  margin-top: 11px;
  white-space: nowrap;
}
#speedometerContainer #vehdataMainDiv fieldset {
  opacity: 0;
  margin-top: 100px;
  transition: 1s ease-out .1s;
  text-align: center !important;
}
#speedometerContainer #vehdataMainDiv fieldset.activeDataBar {
  opacity: 1;
  margin-top: 0;
  transition: .6s ease-in-out .5s;
}
#speedometerContainer #vehdataMainDiv fieldset[class*="vehDataBar"] {
  top: 0px;
  width: 110px;
  height: 65px;
  border-width: 2px;
}
#speedometerContainer #vehdataMainDiv fieldset[class*="vehDataMain"] {
  margin-top: 75px;
  position:fixed;
  margin-left:0px;
  padding-left:5px;
  padding-right:5px;
  border-left:1px;
  font-size:20px;
  opacity: 1;
  left: 580px;
  width: 150px;
}
/* Pos 1 */
#speedometerContainer #vehdataMainDiv [class*="vehDataBar"].pos1 {
  left: 0px;
}
/* Pos 2 */
#speedometerContainer #vehdataMainDiv [class*="vehDataBar"].pos2 {
  left: 140px;
}
/* Pos 3 */
#speedometerContainer #vehdataMainDiv [class*="vehDataBar"].pos3 {
  left: 280px;
}
/* Pos 4 */
#speedometerContainer #vehdataMainDiv [class*="vehDataBar"].pos4 {
  left: 420px;
}
/* Pos 5 */
#speedometerContainer #vehdataMainDiv [class*="vehDataBar"].pos5 {
  left: 560px;
}
/* Main Data 1 */
#speedometerContainer #vehdataMainDiv [class*="vehDataMain"].pos1 {
  top: 0px;
}
/* Main Data 2 */
#speedometerContainer #vehdataMainDiv [class*="vehDataMain"].pos2 {
  top: 70px;
}
/* Main Data 3 */
#speedometerContainer #vehdataMainDiv [class*="vehDataMain"].pos3 {
  top: 140px;
}
/* Main Data 4 */
#speedometerContainer #vehdataMainDiv [class*="vehDataMain"].pos4 {
  top: 210px;
}
#speedometerContainer .vehDataLegends span.spunit {
  font-size: 14px;
}
#speedometerContainer .vehDataLegends span.fuelEffUnit {
  font-size: 12px;
}
#speedometerContainer #vehdataMainDiv [class*="vehDataMain"].pos0 {
  position:fixed;
  left: 320px;
  top: 150px;
  border:none;
}
#speedometerContainer #vehdataMainDiv [class*="vehDataMain"].pos0 div {
  transform:translate(-50%, -50%);
  position:absolute;
  font-family: "Crystal", Arial, Helvetica, sans-serif;
  font-weight: normal;
  color:white;
  /*font-stretch: ultra-condensed;*/
  font-style: normal;
  font-size: 225px;
  text-align: center !important;
}
#speedometerContainer #vehdataMainDiv [class*="vehDataMain"].pos0 legend {
  visibility:hidden;
}
#speedometerContainer #vehdataMainDiv [class*="vehDataMain"].pos0 legend .spunit span {
  width: 100px;
  left: 520px;
  top: 320px;
  transform:translate(-50%, -50%);
  position:fixed;
  color:white;
  font-size: 35px;
  text-align: center;
  white-space: nowrap;
  visibility:visible;
}
#speedometerContainer #vehdataMainDiv fieldset[class*="vehDataBar"].pos0,
#speedometerContainer #vehdataMainDiv fieldset.hidden  {
  display: none !important;
}
[class*="speedBar_"]{
  height: 6px;
  margin-top: 2px;
  border-top: 0px !important;
}
div.speedBar_5 {
  width: 38px;
  margin-left: 4px;
}
div.speedBar_10 {
  width: 38px;
  margin-left: 5px;
}
div.speedBar_15 {
  width: 39px;
  margin-left: 6px;
}
div.speedBar_20 {
  width: 40px;
  margin-left: 7px;
}
div.speedBar_25 {
  width: 41px;
  margin-left: 8px;
}
div.speedBar_30 {
  width: 42px;
  margin-left: 9px;
}
div.speedBar_35 {
  width: 43px;
  margin-left: 11px;
}
div.speedBar_40 {
  width: 44px;
  margin-left: 12px;
}
div.speedBar_45 {
  width: 45px;
  margin-left: 14px;
}
div.speedBar_50 {
  width: 46px;
  margin-left: 16px;
}
div.speedBar_55 {
  width: 47px;
  margin-left: 18px;
}
div.speedBar_60 {
  width: 48px;
  margin-left: 21px;
}
div.speedBar_65 {
  width: 50px;
  margin-left: 24px;
}
div.speedBar_70 {
  width: 52px;
  margin-left: 27px;
}
div.speedBar_75 {
  width: 54px;
  margin-left: 31px;
}
div.speedBar_80 {
  width: 56px;
  margin-left: 35px;
}
div.speedBar_85 {
  width: 58px;
  margin-left: 40px;
}
div.speedBar_90 {
  width: 60px;
  margin-left: 45px;
}
div.speedBar_95 {
  width: 65px;
  margin-left: 50px;
}
div.speedBar_100 {
  width: 70px;
  margin-left: 56px;
}
div.speedBar_105 {
  width: 77px;
  margin-left: 62px;
}
div.speedBar_110 {
  width: 85px;
  margin-left: 70px;
}
div.speedBar_115 {
  width: 100px;
  margin-left: 80px;
}
div.speedBar_120 {
  width: 120px;
  margin-left: 90px;
}
div.speedBar_125 {
  width: 140px;
  margin-left: 100px;
}
div.speedBar_130 {
  width: 160px;
  margin-left: 115px;
}
div.speedBar_135 {
  width: 180px;
  margin-left: 135px;
}
div.speedBar_140 {
  width: 210px;
  margin-left: 160px;
}
div.speedBar_145 {
  width: 240px;
  margin-left: 186px;
}
div.speedBar_150 {
  width: 275px;
  margin-left: 220px;
}
div.flot-tick-label {
  color: #999999;
  font-family: Verdana;
  font-size: 12px;
}
