.AIOTweaksTmplt {
  vertical-align: middle;
  text-align: center;
  font-family: "Tipperary", Arial, Helvetica, sans-serif;
}
.AIOTweaksTmplt textarea, .AIOTweaksTmplt input, .AIOTweaksTmplt button {
  font-family: 'DejaVu Sans Mono', "monospace", "Tipperary", "Arial", "Helvetica", "sans-serif";
}
.AIOTweaksTmplt ul.tab {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
/* Float the list items side by side */

.AIOTweaksTmplt ul.tab li {
  width: 33%;
  height: 50px;
  float: left;
}
/* Style the links inside the list items */

.AIOTweaksTmplt ul.tab li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 20px 17px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 30px;
  height: 20px;
  width: 100%;
  font-weight: bold;
}
/* Change background color of links on hover */

.AIOTweaksTmplt ul.tab li a:hover {
  background-color: #ddd;
}
/* Create an active/current tablink class */

.AIOTweaksTmplt ul.tab li a:focus, .active-tab {
  background-color: #009090;
}
.AIOTweaksTmplt #Tweaks {
  height: 350px;
}
/* Style the tab content */

.AIOTweaksTmplt .tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  background: rgba(52, 52, 53, 0.78);
}
.AIOTweaksTmplt #MainMenuMsg {
  font-size: 24px;
}
.AIOTweaksTmplt button {
  height: 50px;
  text-shadow: none;
  font-weight: bold;
  font-size: 20px;
  border: none;
  outline: 0;
  padding: 6px 10px;
  margin: 3px;
  vertical-align: middle;
  overflow: hidden;
  color: #fff;
  background-color: #000;
  white-space: nowrap;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.AIOTweaksTmplt button.confirmKeyboardBtn, .AIOTweaksTmplt button.confirmTerminalBtn, .AIOTweaksTmplt button.fullRestoreBtn {
  background: #6b1a28;
  border-radius: 6px;
  padding: 3px !important;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.2), 0px 18px 23px rgba(0, 0, 0, 0.2);
}
.AIOTweaksTmplt #errLogBtn, .AIOTweaksTmplt .tablinks {
  text-shadow: none;
}
.AIOTweaksTmplt .tabcontent button:focus {
  background: blue;
  /*border: 2px dotted #fff;*/
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
@keyframes animatezoom {
  0% {
    transform: scale(0, 0) translate(0px, 100px);
    -o-transform: scale(0, 0) translate(0px, 100px);
  }
  100% {
    transform: scale(1, 1) translate(0px, 0px);
    -o-transform: scale(1, 1) translate(0px, 0px);
  }
}
.animate-zoom {
  animation: animatezoom 0.9s ease-in both;
}
.AIOTweaksTmplt .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  margin-top: 59px;
}
.AIOTweaksTmplt .sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s
}
.AIOTweaksTmplt .sidenav a:hover, .offcanvas a:focus {
  color: #f1f1f1;
}
.AIOTweaksTmplt .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.AIOTweaksTmplt #AIO-Main {
  transition: margin-left .5s;
}
.AIOTweaksTmplt #StatusBar_ButtonCtrl1.hidden {
  display: none !important;
}
.AIOTweaksTmplt .sidenav {
  padding-top: 15px;
}
.AIOTweaksTmplt .sidenav a {
  font-size: 18px;
}
.AIOTweaksTmplt #Options {
  columns: 2;
}
.AIOTweaksTmplt #MainMenu {
  columns: 3;
}
.AIOTweaksTmplt .audioSources {
  width: 150px;
  margin-bottom: 20px;
}
.AIOTweaksTmplt .audioCtrls {
  float: left;
  width: 125px;
}
[id*="TrackBtn"] {
  width: 180px;
}
.AIOTweaksTmplt #aaTitle, .AIOTweaksTmplt #csTitle {
  position: absolute;
  bottom: 15px;
  padding: 5px;
  left: 20px;
  font-size: 25px;
  font-weight: bolder;
  height: 120px;
  width: 365px;
  outline: 6px dashed #fff;
}
.AIOTweaksTmplt #csTitle {
  left: 410px;
}
.AIOTweaksTmplt .aaFunc, .AIOTweaksTmplt .csFunc {
  position: absolute;
  bottom: 20px;
  width: 150px;
}
.AIOTweaksTmplt .spFunc {
  width: 150px;
  margin: -10px 40px;
}
.AIOTweaksTmplt button#AAstart {
  left: 40px;
}
.AIOTweaksTmplt button#AAstop {
  left: 200px;
}
.AIOTweaksTmplt button#CSstart {
  left: 440px;
}
.AIOTweaksTmplt button#CSstop {
  left: 600px;
}
.AIOTweaksTmplt .fnStop {
  background: #ff0000;
}
.AIOTweaksTmplt .fnStart {
  background: green;
}
.AIOTweaksTmplt .fnStart:focus, .AIOTweaksTmplt .fnStart:active {
  background: #001680;
}
.AIOTweaksTmplt .fnStop:focus, .AIOTweaksTmplt .fnStop:active {
  background: #670092;
}
.AIOTweaksTmplt #csTitle.centered, .AIOTweaksTmplt #aaTitle.centered {
  margin: auto;
  left: 0;
  right: 0;
}
.AIOTweaksTmplt .centered~.csFunc {
  margin-left: -195px;
}
.AIOTweaksTmplt .centered~.aaFunc {
  margin-left: 205px;
}
.AIOTweaksTmplt #Options button {
  width: 48%;
  font-size: 19px;
}
.AIOTweaksTmplt #MainMenu button {
  width: 240px;
  text-overflow: ellipsis;
}
.AIOTweaksTmplt button#showPSBtn, .AIOTweaksTmplt button#hideMusicBg, .AIOTweaksTmplt button#hideSbn, .AIOTweaksTmplt button#noBgBtn {
  font-size: 1rem;
}
.AIOTweaksTmplt #touchscreenPanel {
  display: none;
  position: absolute;
  width: 400px;
  padding: 10px;
  margin: auto;
  top: 130px;
  right: 0;
  left: 0;
  background: #5e6684;
  border-radius: 20px;
  z-index: 990;
}
.AIOTweaksTmplt #AioInfoPanel {
  display: none;
  position: absolute;
  width: 740px;
  min-height: 160px;
  max-height: 420px;
  margin: auto;
  top: 55px;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, .75);
  color: #fff;
  border-radius: 17px;
  border: 2px dashed #0f0;
  z-index: 998;
}
.AIOTweaksTmplt #AioInformation {
  margin: 15px;
  padding: 15px;
  font-size: 18px;
  border: 2px dashed #fff;
  border-radius: 7px;
  background: #000;
  max-height: 360px;
  min-height: 96px;
  overflow-y: auto;
  text-align: left;
  white-space: pre;
}
.AIO-scroller {
  left: 40px;
  position: absolute;
  width: 48px;
  height: 48px;
  padding: 0;
  display: none;
}
.AIOTweaksTmplt #AioInfoPanel.opened, .AIOTweaksTmplt #AioInfoPanel.opened.scrollers~.AIO-scroller {
  display: block;
}
.AIOTweaksTmplt #AioInfoPanel .infoMessage {
  text-align: center;
  white-space: normal;
  font-size: 24px;
}
.AIOTweaksTmplt #scrollUpBtn {
  top: 200px;
}
.AIOTweaksTmplt #scrollDownBtn {
  top: 260px;
}
.AIOTweaksTmplt #closeAioInfo, .AIOTweaksTmplt #closeTouchPanel {
  position: absolute;
  top: 0;
  right: 0;
  transition: .1s;
  color: #000;
  font-size: 40px;
  border-radius: 20px;
  background-image: url(../images/closeBtn.png);
  background-size: contain;
  width: 45px;
  height: 45px;
  z-index: 9998;
  line-height: 0;
}
.AIOTweaksTmplt #closeTouchPanel.selectedItem {
  opacity: 0.8;
  border-color: #ff0000;
  color: #fff;
}
.AIOTweaksTmplt .Touch {
  z-index: 9999;
}
.AIOTweaksTmplt #MainMenuMsg {
  background: #000;
  border-radius: 20px;
  width: 48%;
  margin: auto;
}
.AIOTweaksTmplt button.selectedItem {
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 255, 1));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 255, 1));
}
.AIOTweaksTmplt .devTools {
  display: none;
}
