#contactform * {
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-font-smoothing:antialiased;
  -moz-font-smoothing:antialiased;
  -o-font-smoothing:antialiased;
  font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
}
#contactform {
  background: #eeeded;
}
#contactform .card {
  background: #fff;
  color:#000;
  border-radius: 2px;
  display: block;
  float: left;
  left:0;
  margin: 1rem;
  position: relative;

}
.card {
  transition: all 0.2s ease-in-out;
}
.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.card-1:hover,card-1:focus  {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.card:focus {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
div#contact-form {
  max-height: 635px;
}

/* Contact Form Styles */
#contactform h1 {
  margin: 10px 0 0 0;
}
#contactform h4{
  margin: 0 0 20px 0;
}
#contact-form {
  background-color:rgba(0,0,0,0.3);
  color:#000;
  padding: 10px 20px 30px 20px;
  border-radius:7px;
  -webkit-border-radius:7px;
  -moz-border-radius:7px;
}
#contact-form label {
  width:100%;
}
#contact-form input,
#contact-form select,
#contact-form textarea,
#contact-form label {
  font-size: 15px;
  margin-bottom: 2px;
  font-family: Arial, san-serif;
}
#contact-form input,
#contact-form select,
#contact-form textarea {
  width:100%;
  background: #fff;
  border: 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 25px;
  padding: 5px;
}
#contact-form input:focus,
#contact-form select:focus,
#contact-form textarea:focus {
  background-color: #E5E6FF;
  /*outline:4px dashed #00FF00;*/
  box-shadow:2px 2px 2px .2px #666;
}
#contact-form textarea {
  width:100%;
  height: 150px;
}
#contact-form button[type="submit"] {
  cursor:pointer;
  width:100%;
  border:none;
  /*   background:#991D57;
  background-image:linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
  background-image:-moz-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
  background-image:-webkit-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);*/
  color:#FFF;
  margin:0 0 5px;
  padding:10px;
  border-radius:5px;
}
#contact-form button[type="submit"]:hover {
  /* background-image:linear-gradient(bottom, #9C215A 0%, #A82767 52%);
  background-image:-moz-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
  background-image:-webkit-linear-gradient(bottom, #9C215A 0%, #A82767 52%);*/
  -webkit-transition:background 0.3s ease-in-out;
  -moz-transition:background 0.3s ease-in-out;
  transition:background-color 0.3s ease-in-out;
}
#contact-form button[type="submit"]:active {
  box-shadow:inset 0 1px 3px rgba(0,0,255,1);
}
input:required, textarea:required {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
}
#contact-form .required {
  font-weight:bold;
  color: #E5E6E7;
}
/* Hide success/failure message
(especially since the php is missing) */
#failure, #success {
  color: #6EA070;
  display:none;
}
.realMail {
  /*margin: 10px 0px 0px 15px;*/
  text-align:center;
}
/* Make form look nice on smaller screens */
@media only screen and (max-width: 580px) {
  #contact-form{
    left: 3%;
    margin-right: 3%;
    width: 88%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
  }
}
