html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: "mazda";
  src: url("../vendor/fonts/SF_Automaton.ttf") format("truetype");
}
@font-face {
  font-family: "Tipperary";
  src: url("../vendor/fonts/Tipperary.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Tipperary";
  src: url("../vendor/fonts/TipperaryBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Tipperary";
  src: url("../vendor/fonts/TipperaryBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Tipperary";
  src: url("../vendor/fonts/TipperaryItalic.ttf") format("truetype");
  font-style: italic;
}
@font-face {
  font-family: "Tipperary";
  src: url("../vendor/fonts/TipperarySemibold.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Tipperary";
  src: url("../vendor/fonts/TipperarySemiboldItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "stencil";
  src: url("../vendor/fonts/Ignis.ttf") format("truetype");
}
/* Fix Flickering */

[ng:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
body * {
  font-family: "Tipperary", Verdana, sans-serif;
}
div#backgroundPreviewModal * {
  font-family: "Tipperary", Verdana, sans-serif;
}
h1 small:not([class*="icon"]) {
  color: #adadad;
  transition: 3s ease-out .3s;
  font-weight: bold;
}
h1 small i {
  font-size: 70%;
  font-style: normal;
}
::selection {
  color: #00ff2d;
  background: #9664e4;
}
code {
  color: #A8FF60;
  background-color: #5f5e5e;
}
input[type=file]::selection, input[type=checkbox]::selection, input[type=radio]::selection, .accordion-content::selection {
  background: transparent;
}
i[class*="icon-"] {
  padding-right: 10px;
  margin-left: -10px;
}
/* for locking top menu bar */

.hideNav li.menu-icons {
  font-size: 20px;
  cursor: pointer;
  float: right;
}
.w3-top.hideNav.showNav {
  position: fixed;
  top: 0;
  border-bottom: 1px solid #000;
  top: 0;
  box-shadow: 0px 2px 5px 2.2px rgba(100, 100, 100, 0.30);
  zoom: 1;
}
header, footer, #header, .w3-sidenav, .w3-navbar {
  zoom: 1;
}
.w3-navbar * {
  font-family: Verdana, sans-serif;
}
.showNav .w3-navbar {
  width: 100%;
}
div#header, #notices, nav#mySidenav, header span#openNav, header span#openSidePanel, .w3-container.mainContainer {
  transition: .8s ease;
}
.showNav~.ng-scope .w3-container.mainContainer .twkfltr {
  top: 50px;
}
.showNav~.ng-scope div#header, .showNav~.ng-scope #notices, .showNav~.ng-scope nav#mySidenav, .showNav~.ng-scope header span#openNav, .showNav~.ng-scope header span#openSidePanel, .showNav~.ng-scope .w3-container.mainContainer {
  margin-top: 30px;
}
.showNav~nav#mySidenav {
  /* top: 25px; */
}
.hideNav span.icon-lock:before {
  /*font-size: 26px;*/
}
.showNav span.icon-lock:before {
  content: "\ebd3";
}
.showNav .menu-icons:hover span.icon-lock:before {
  content: "\f09c";
}
.w3-navbar>*:hover {
  background-color: #ccc;
  color: #000;
}
.w3-navbar li:first-child a {
  padding: 6px 0 3px 2px;
}
/* Safety levels */

.sfty {
  color: #fff;
  font-weight: 800;
  padding: 5px;
  float: right;
  margin-top: 35px;
  margin-right: -20px;
  margin-left: 20px;
}
.hlpsfty {
  color: #fff;
  font-weight: 800;
  padding: 2px;
}
.sfty.safe, .twk-safe {
  background-color: green;
  display: none;
}
.sfty.warning, .twk-warn {
  background-color: yellow;
  line-height: normal;
  height: 22px;
  color: #000;
}
.sfty.development, .twk-development {
  background-color: red;
}
.w3-tag span.sfty {
  position: absolute;
  bottom: 2px;
  right: 22px;
}
td .inline-safety {
  opacity: 0;
  position: absolute;
  right: 5px;
  top: 3px;
  margin: 0;
  transition: opacity .5s ease .5s;
}
tr:hover td .inline-safety {
  opacity: 1;
  transition: opacity 4s linear 3s;
  cursor: default;
  -webkit-user-select: none;
}
.w3-container.w3-row.w3-section {
  /*margin-top: 0!important;*/
  margin-bottom: 50px !important;
}
/* notices */

#notices {
  background: #57f7ff;
  position: fixed;
  max-width: 300px;
  right: 0;
  top: 85px;
  z-index: 9999;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.notice {
  padding: 10px;
  font-weight: 600;
  color: #000;
  background-color: #57f7ff;
  border-bottom: 2px solid #4aad00;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.notice:first-child {
  border-top-left-radius: 10px;
}
.notice:last-child {
  border: none;
  border-bottom-left-radius: 10px;
}
span.w3-closebtn {
  line-height: normal;
  z-index: 9;
  height: 45px;
  width: 45px;
  text-align: center;
}
.hide {
  display: none;
}
body {
  font-family: "mazda", -apple-system, "Helvetica Neue", Helvetica, sans-serif;
  margin-bottom: 30px;
}
.main {
  padding: 10px;
  margin: 5px;
}
.hideNavHover~.hideNav {
  top: -40px;
  transition: .3s ease-in-out .7s;
}
.hideNavHover:hover~.hideNav, .hideNav:hover {
  top: 0px !important;
  transition-delay: 0s;
}
.help-messages *::selection {
  background: #e91e63;
  color: #48ffdf;
}
nav#mySidenav {
  z-index: 13;
  top: 0;
}
#header {
  zoom: 1;
  position: fixed;
  top: 0;
  height: 80px;
  text-align: center;
  width: 100%;
  z-index: 99500;
  -webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
  -moz-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
  box-shadow: 0px 3px 5px 1px rgba(100, 100, 100, 0.70);
}
.w3-opennav {
  z-index: 99998;
}
header {
  /*background-color: #2f3241;
	border-bottom: 1px solid #1a1b23;*/
  color: #000;
  padding: 10px 30px;
  text-align: center;
  font-family: "mazda";
  top: 0;
  width: 100%;
  z-index: 12;
  /*position: fixed;*/
}
header h1 {
  font-size: 45px;
  font-weight: 100;
  margin: 0;
  padding: 0;
}
header h1 button {
  font-size: 17px;
}
.helphints {
  right: 60px;
  position: absolute;
  top: 20px;
  z-index: 99;
}
.helpdrop {
  font-family: arial;
  letter-spacing: normal;
  font-size: 16px;
  padding: 6px !important;
  text-align: left;
  right: 28px;
  margin-top: 5px !important;
  width: 450px;
  max-width: 50%;
}
div#fullSystemRestore~#helpDrop {
  top: 300px;
  z-index: 55555;
  margin: auto;
  left: 25%;
}
#fullSystemRestore~#helpDrop #helpDropMenu {
  margin-bottom: 100px;
}
.helpmsg {
  padding: 5px;
}
.helpmsg img {
  max-width: 100%;
}
input[type=checkbox]#bgrotator, .accordion-content input[type=checkbox] {
  visibility: visible;
}
img.loader {}
#bg-img {
  float: left;
  width: 100%;
}
.w3-tooltip .w3-text {
  display: none;
  max-width: 80%;
  width: 800px;
}
footer {
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 40px;
  padding: 5px 0;
  border-top: 1px solid #e0e5e6;
  background: #f6f8f8;
  position: fixed;
  z-index: 99999;
  color: #000;
}
footer [class*="icon-"] {
  margin-right: 5px;
}
span.test-panel-toggle, .footer-donate {
  margin-top: 5px;
  position: fixed;
  left: 10px;
  z-index: 99999;
}
.copyright {
  position: fixed;
  right: 0;
  left: 0;
  margin: auto;
}
.copyleft {
  font-weight: 500
}
.copyleft .symbol {
  display: inline-block;
  transform: rotate(180deg);
  font-size: 21px;
}
footer .contact-form {
  margin-top: 3px;
  right: 10px;
  position: fixed;
}
footer a {
  cursor: pointer;
}
footer .footer-secret a {
  color: transparent;
  left: 100px;
  text-align: left;
  position: fixed;
  cursor: help;
  z-index: 1000;
}
#secretMenu {
  position: fixed;
  bottom: 100px;
  left: 20px;
  height: 250px;
  width: 250px;
  border: 4px double #fff;
  outline: 6px double #000;
  background-color: #444;
  color: #eee;
  text-align: center;
  padding: 20px;
  display: table;
}
#secretMenu button {
  margin: 3px;
}
.w3-bordered tr {
  border-right: 1px solid #ddd;
}
section.options {
  margin: 0px;
  width: 100%;
  max-width: 100%;
}
.w3-tooltip .w3-text.ssh-tooltip {
  white-space: normal;
  width: 800px;
  margin-bottom: -100px;
}
.backupLabel .w3-tag {
  margin-bottom: -200px;
  width: 800px;
  font-size: 30px;
}
.form-group1 {
  white-space: nowrap;
  /*text-overflow: ellipsis;*/
  overflow-x: hidden;
  /*z-index: 3;*/
}
.form-group1:hover {
  /*text-overflow: clip;*/
  overflow: visible;
  /*z-index: 4;*/
}
.form-group1 [class*="abel"]:hover {
  background-color: #fefefe;
  border-right: 1px solid rgba(0, 0, 0, .4);
  border-bottom: 1px solid rgba(100, 100, 100, .2);
  border-top: 1px solid rgba(100, 100, 100, .2);
  border-left: 1px solid rgba(200, 200, 200, .1);
  background-color: rgba(140, 140, 140, 0.12);
  cursor: default;
}
.menuCheck~[class*="abel"] {
  border: 1px solid transparent;
  padding: 10px 5px 8px 2px;
  border-radius: 8px;
}
.bg-tooltip {
  white-space: normal;
}
.popover {
  cursor: default;
}
.colorLabel span.w3-text.w3-tag {
  margin: 100px 50px;
  right: 0;
  left: 0;
}
#sidePanel .w3-tooltip.ng-binding .w3-text {
  font-size: 14px;
  letter-spacing: normal;
  font-weight: normal;
  line-height: normal;
}
.form-group, .form-actions {
  margin: 10px;
}
.form-actions {
  margin-bottom: 100px;
}
.helpLabel {
  margin: 20px;
  line-height: 4;
}
label {
  font-size: 12px;
  cursor: pointer;
}
input[type=checkbox] {
  cursor: pointer;
}
.w3-table td, #options td:first-child {
  padding: 0px 1px 5px 5px;
  min-width: 80px;
  /*  overflow: hidden;*/
}
.w3-table th {
  text-align: center !important;
  margin: 0px !important;
}
#options tr:last-child {
  /*width: 100%;*/
}
.w3-text {
  position: fixed;
  left: 0;
  z-index: 10;
  border: 5px outset #c3c3c3;
  padding: 10px 20px !important;
  text-align: justify !important;
}
.w3-tag img {
  float: right;
  width: 450px;
  max-width: 50%;
  margin: 0px 0px 0px 20px;
}
table {
  margin-bottom: 0px;
}
.w3-table td:first-child {
  padding-left: 10px;
  min-width: 75px;
  vertical-align: top;
}
.uninstallMessage {
  color: red;
}
.w3-bordered tr {
  max-height: 40px;
  border: 1px solid #ddd;
}
#sidePanel {
  border: 1px solid #ddd;
  padding: 5px;
  overflow: visible;
}
ul ul {
  margin: 0px 0px 10px 0px;
}
.sidePanel {
  float: left;
  width: 100%;
  margin-top: 10px;
}
.sidePanel ul {
  padding-left: 6px;
  margin-top: 10px;
}
.sidePanel li {
  margin-bottom: 5px;
}
.sidePanel h3 {
  border-bottom: 3px solid #000;
  padding-left: 30px;
  margin-top: -20px;
}
.sidePanel ul>li {
  list-style: none;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}
.sidePanel li div.w3-tooltip {
  cursor: help;
  margin: 10px 0 4px 15px;
  font-weight: 700;
  font-size: 15px;
}
.sidePanel .popover h3 {
  padding-left: 10px;
}
tr#custThemeHelp {
  height: auto;
}
#custbgOptions td {
  padding: 5px;
}
#custbgOptions button {
  width: 100%;
}
.uninstall-check input[disabled]~label:after, .install-check input[disabled]~label:after {
  background: none;
  content: 'x';
  font-size: 30px;
  padding: 0;
  margin: 0px 0px 0px 0px;
  line-height: 0.4;
  opacity: 0.1;
  color: #b3b3b3;
}
input[disabled]~label:hover:after {
  opacity: 0.4;
  color: #ff9900;
  box-shadow: none;
}
input[disabled]~label:active:after {
  opacity: 1;
  color: #ff0000;
  cursor: not-allowed;
}
div#bgPickTitle {
  position: relative;
  top: 15px;
}
.useColorBG.w3-right.w3-half {
  width: 40%;
  text-align: center;
  font-size: 10px;
}
.flacmsg {
  font-size: 11px;
}
.flacmsg p {
  display: none;
}
#img2use {
  width: 810px;
  max-height: 490px;
  padding: 2px;
  border: 3px dotted #dd0000;
  margin: 10px auto;
  max-width: 100%;
}
#bgimg>img {
  width: 100%;
}
.imgframe {
  overflow: hidden;
  max-height: 480px;
}
.imgframe img {
  position: relative;
}
div#selected-file {
  text-align: center;
}
div#blnk-albm-img {
  width: 146px;
  margin: auto;
}
div#blnk-albm-img img {
  max-width: 100%;
}
footer a, footer a:hover footer a:visited footer a:link footer a:focus {
  color: #000;
  text-decoration: none;
}
nav#mySidenav span[class^="icon-"] {
  margin-right: 10px;
  font-size: 22px;
}
.sidePanel {
  width: 39.5%;
  margin-left: 2%;
  font-size: 0.8em;
  min-height: 480px;
  margin-top: 0;
}
.sidePanel .w3-btn {
  text-overflow: ellipsis;
}
.sidePanel.adv {
  min-height: 480px;
}
.sidePanel li div table {
  cursor: default;
  margin-bottom: 15px;
}
.colorScheme, .customBackground {
  list-style: none;
}
.customBackground div, .colorScheme div:first-child {}
#imgNavButtons button.w3-btn.w3-card-8.w3-grey.w3-hover-teal {
  opacity: .65;
  transition: .3s ease-in .3s;
}
#imgNavButtons button.w3-btn.w3-card-8.w3-grey.w3-hover-teal:hover {
  opacity: 1;
}
#date, #clock, #ctxt-ico, #ctxt-title, #ctxt-notif {
  position: absolute;
  top: 5px;
  z-index: 9;
  color: #fff;
  font-family: arial;
  font-size: 40px;
  cursor: default;
}
div#clock {
  font-size: 35px;
  top: 15px;
  right: 35px;
}
div#date {
  right: 35px;
  top: 6px;
  font-size: 18px;
}
#ctxt-ico {
  left: 45px;
}
#ctxt-title, #ctxt-notif {
  left: 100px;
  cursor: pointer;
}
div#options {
  width: 58%;
  float: left;
}
#extraOptions {
  outline: 2px double #000;
}
#options.open {
  width: 100%;
}
td.extraRange.w3-third {
  width: 40%;
}
td.extraRange.w3-twothird {
  width: 58%;
  white-space: nowrap;
  display: flex;
}
.form-group1 .w3-tag {
  font-size: 20px;
  margin: 40px;
}
.featherlight .featherlight-content {
  color: #000;
}
button.print-hide.featherlight-inner img {
  max-width: 25px;
}
.aio-comp-log .featherlight-inner ul li {
  margin-bottom: 1.1px;
  list-style: square inside;
  border-bottom: .2px dashed rgba(0, 0, 0, 0.21);
}
h1.featherlight-inner, h5.featherlight-inner {
  /*font-size: 30px;*/
  text-align: center;
}
h1.featherlight-inner {
  white-space: nowrap;
}
img.featherlight-image.featherlight-inner {
  /*9	outline: 50px solid #000;
	border-bottom: 50px solid #000;*/
}
button.print-hide.featherlight-inner {
  position: absolute;
  top: 20px;
  right: 0;
  padding: 0px;
  width: 40px;
}
button {
  border-radius: 4px;
  border: 1px solid #bbb;
}
.useColorBG {
  margin-top: -30px;
  margin-bottom: 10px;
}
/*table#colorOptions td:first-child {
min-width: 0px;
}
table#colorOptions tbody tr:first-child {
width: 100%;
}*/

#custbgOptions tbody {
  width: 100%;
  display: table;
}
.introjs-tooltipbuttons {
  text-align: center
}
.introjs-tooltip {
  max-width: 450px;
  width: 450px;
}
.useColorBG input[type=checkbox], .bootbox-form .checkbox input[type=checkbox], .bootbox-form .checkbox input[type=radio] {
  visibility: visible;
}
textarea.bootbox-input-textarea.form-control {
  min-height: 105px;
}
.introjs-hint {
  z-index: 99999;
  top: 550px !important;
}
#progBar {
  white-space: nowrap;
}
.loadingBG {
  margin-top: 200px;
  z-index: 1049;
}
.featherlight.loadingBG .featherlight-content:before {
  content: 'Your New Infotainment Background Will Be:';
  font-size: 20px;
  text-align: center;
  right: 0;
  left: 0;
  position: fixed;
  margin-top: -30px;
}
.featherlight.loadingBG .featherlight-content {
  width: 700px;
  height: 420px;
  overflow: hidden;
}
.featherlight.loadingBG .featherlight-content img {
  border-right: 10px solid #fff;
}
div#helpMenuTop input[type=checkbox] {
  visibility: visible;
  margin-left: 10px;
}
div#helpMenuTop, div#helpMenuTop .w3-third {
  width: 33% !important;
}
[class*="-alt"] {
  font-size: 20px;
}
.confirmCompile .modal-dialog {
  margin-top: 135px !important;
}
.modal-dialog label.delCopyLabel {
  width: 40%;
  font-size: 18px;
  outline: 4px double #000;
  padding: 0px 4px 4px 4px;
  margin: 5px 0px 8px 0px;
  right: 10px;
}
.modal-dialog .delCopyLabel input.w3-check[type=checkbox] {
  visibility: visible;
  margin: 0 15px 0 0px;
}
.modal-dialog label.delCopyMultiLabel {
  outline: 4px double #000;
  padding: 0px 3px 3px 16px;
  margin: 8px 3px 8px 9px;
  width: 40%;
  font-size: 18px;
}
.modal-dialog .delCopyMultiLabel input.w3-check[type=checkbox] {
  visibility: visible;
  margin-right: 10px;
}
.finishedMessage .modal-dialog {
  max-width: 550px;
}
.tooltip>.tooltip-inner {
  max-width: 100% !important;
  padding: 5px;
  font-size: 12px;
  color: #FFFFFF;
  background-color: #000;
  max-width: 100%;
  width: 400px;
}
.mainContainer label+.tooltip>.tooltip-inner {
  border: 1px solid green !important;
  width: 500px !important;
}
.menu-icons+.tooltip>.tooltip-inner {
  border: 1px solid blue !important;
  width: 100px !important;
}
#compileButton+.tooltip>.tooltip-inner {
  background-color: #444;
  color: #ddd;
  border: 2px solid #00ff00 !important;
  width: 200px !important;
}
label.w3-validate+.tooltip>.tooltip-inner {
  border: 1px solid #ff589c !important;
  width: 550px !important;
  text-align: left;
}
.menu-icons.menulock+.tooltip>.tooltip-inner {
  width: 150px !important;
}
.tooltip>.tooltip-inner img {
  max-width: 100%;
}
#label-19+.tooltip>.tooltip-inner, #label-25+.tooltip>.tooltip-inner {
  width: 750px !important;
  padding: 10px;
}
#label-19+.tooltip>.tooltip-inner img, #label-25+.tooltip>.tooltip-inner img {
  width: 50%;
  float: right;
}
#statusbarTweaks~.tooltip>.tooltip-inner, #uistyleTweaks~.tooltip>.tooltip-inner, #colors~.tooltip>.tooltip-inner {
  text-align: left;
  padding: 20px;
  max-width: 100%;
}
#colors~.tooltip>.tooltip-inner {
  width: 800px !important;
}
/* DARK MODE */

.w3-black .w3-dropdown-content a {
  color: #000;
}
.w3-black #helpMenuTop a {
  color: #fff;
}
.w3-black h1 small:not([class*="icon"]) {
  color: #ccc;
}
.w3-black footer {
  background-color: darkgray;
  border-top-color: #5f5f5f;
}
.w3-black .w3-teal {
  background: #ff0000 !important;
}
.w3-black .w3-cyan {
  background-color: #004a86 !important;
  color: #fff !important;
}
.w3-black footer, .w3-black .showNav .w3-navbar, .w3-black .w3-navbar, .w3-black .popover * {
  background-color: #2f2f2f !important;
  color: #fff !important;
  border-top-color: #5f5f5f;
}
h3.popover-title, h3.popover-title+div {
  color: #000;
  text-align: center;
}
body.w3-black {
  background-color: #111 !important;
}
.w3-black table {
  background-color: #000 !important;
}
.w3-black .well {
  background-color: #2b2b2b;
}
.w3-black button {
  background-color: #222;
  color: #eee;
}
.w3-black a {
  color: #fff;
}
.w3-black .w3-dropdown-content .accordion.help-messages a, .w3-black .accordion-content .w3-panel .w3-btn {
  color: #fff;
}
.w3-black label.w3-label.checkAutorun {
  color: #fff;
  border-color: #fff;
}
.tweak-inst-title {
  font-family: "stencil";
}
.bootbox a:hover, .help-messages a:hover {
  box-shadow: 0 5px 15px -8px #000000;
}
.bootbox a:focus, .help-messages a:focus, .bootbox a:active, .help-messages a:active {
  box-shadow: 0px 15px 16px -7px #000044;
}
.bootbox div#tweak-install-list li {
  width: 50%;
  display: inline-block;
  white-space: pre;
  padding: 2px;
  font-weight: 600;
  transition: 2s ease-in .5s;
  cursor: default;
  font-family: "stencil";
  font-size: 14px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  line-height: 14px;
}
.bootbox div#tweak-install-list:hover li {
  text-shadow: 0 0 0 #fff;
}
.bootbox div#tweak-install-list::selection {
  text-shadow: none;
  color: #ff4fc8;
  background: #000;
}
.bootbox div#tweak-install-list ul {
  -webkit-padding-start: 0;
}
.modal-dialog {
  margin: 150px auto;
  z-index: 1052;
}
.modal-content, .bootbox-body {
  color: #000;
  user-select: none;
  cursor: default;
}
.bootbox-confirm .modal-footer {
  text-align: right;
}
.modal-footer button {
  font-size: 18px;
}
.bootbox.copytoUSB1 .bootbox-body {
  width: 360px;
}
.copytoUSB1 .modal-footer button, .bootbox-confirm .modal-footer button {
  min-width: 35%;
}
.copytoUSBMulti .modal-footer button {
  min-width: 25%;
}
.bootbox-confirm .modal-footer button.btn.btn-danger, button.btn.btn-danger {
  min-width: 33%;
}
.bootbox-confirm .modal-footer button.btn.btn-success, button.btn.btn-success {
  width: 66%;
}
.compFinishBox, .confirmAutorunCompile .modal-footer, .bootbox-alert .modal-footer, .modal-dialog.modal-sm, .confirmCompile .modal-title, .modal-sm .modal-footer {
  text-align: center;
}
.compFinishBox .modal-footer button, .bootbox-alert .modal-footer button[data-bb-handler="ok"] {
  width: 100%;
}
.modal-dialog.modal-sm {
  font-weight: 900;
}
.bootbox-body .w3-center h3 a, .bootbox-body .w3-center h3 button {
  letter-spacing: 2.4px;
  font-weight: 600;
  min-width: 350px;
  text-overflow: ellipsis;
}
.compFinishBox .bootbox-body {
  font-weight: bold;
  font-size: 18px;
}
.bootbox.first-time-dialog .modal-dialog {
  width: 1200px;
  max-width: 90%;
  margin-top: 125px;
}
.bootbox.first-time-dialog .modal-dialog a {
  text-decoration: underline;
  color: #000052;
}
.icon-cog3:before {
  content: "\e913";
}
a:focus, a:hover {
  text-decoration: none;
  /*color: inherit;*/
  outline: none;
}
a:active {
  text-decoration: underline;
  opacity: .9;
}
/* The snackbar - position it at the bottom and in the middle of the screen */

#snackbar {
  visibility: hidden;
  width: 600px;
  margin: auto;
  background-color: #000;
  outline: 1px dashed #5bbbff;
  outline-offset: -4px;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  border: 3px dashed #00d298;
  border-style: outset;
  padding: 16px;
  position: fixed;
  z-index: 9999;
  left: 0;
  right: 0;
  bottom: 100px;
  cursor: default;
}
#snackbar:hover {
  outline-style: dotted;
}
/* Show the snackbar when clicking on a button (class added with JavaScript) */

#snackbar.show {
  visibility: visible;
  /* Show the snackbar */
  -webkit-animation: fadein 1.5s, fadeout 2.5s 7s;
  animation: fadein 1.5s, fadeout 2.5s 7s;
}
#snackbar.stay {
  width: 40%;
  max-width: 400px;
  visibility: visible;
  -webkit-animation: fadein 1.5s;
  animation: fadein 1.5s;
}
#snackbar input[type="checkbox"] {
  opacity: .7;
  width: 15px;
  height: 18px;
  margin-right: 7px;
}
.snackcheck {
  opacity: .3;
  transition: 1s ease-out;
  float: right;
  font-size: 10px;
  color: #eee;
  line-height: 2px;
}
.snackcheck:hover {
  opacity: .8;
}
#sidePanelTitle, footer, #outer-thumbs {
  -webkit-user-select: none;
}
/* Animations to fade the snackbar in and out */

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 100px;
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 100px;
    opacity: 1;
  }
}
@-webkit-keyframes fadeout {
  from {
    bottom: 100px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
@keyframes fadeout {
  from {
    bottom: 100px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
/* Scrollbar */

::-webkit-scrollbar {
  width: 20px;
  opacity: .3;
  cursor: pointer;
}
/* Track */

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb:window-inactive {
  color: transparent;
  zoom: 1;
}
.featherlight .featherlight-content:hover::-webkit-scrollbar-track, ::-webkit-scrollbar-track:hover {
  -webkit-box-shadow: inset 2px 0px 10px rgba(0, 0, 0, .5);
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:window-inactive:hover {
  background: rgba(255, 0, 0, .61);
  -webkit-box-shadow: inset 1px 0px 15px 1.3px rgba(0, 5, 5, .81);
}
/* Handle */

.featherlight .featherlight-content:hover::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:hover {
  /*-webkit-border-radius: 20px;
	border-radius: 8px;*/
  background: rgba(20, 50, 150, .81);
  -webkit-box-shadow: inset 0px 0px 8px 1px rgba(0, 255, 204, .8);
  cursor: pointer;
}
#compatibilityCheck::-webkit-scrollbar-button:single-button {
  display: none;
}
body::-webkit-scrollbar-button:single-button:start {
  display: block;
  height: 80px;
  background: #009688;
  box-shadow: 0px 3px 5px 1px rgba(100, 100, 100, 0.70);
}
.featherlight::-webkit-scrollbar-button, textarea::-webkit-scrollbar-button:single-button {
  display: none !important;
}
.showNav::-webkit-scrollbar-button:single-button:start {
  display: block;
  height: 110px;
  background: linear-gradient(#f1f1f1 38px, #000 38px, #009688 39px);
  box-shadow: 0px 3px 5px 1px rgba(100, 100, 100, 0.70);
}
body::-webkit-scrollbar-button:single-button:end {
  display: block;
  height: 40px;
  border-top: 1px solid #e0e5e6;
  background: #f6f8f8;
}
div#thumbs::-webkit-scrollbar {
  height: 8px;
}
div#outer-thumbs:hover div#thumbs::-webkit-scrollbar {
  /*height:12px;*/
}
/* Scrollbar Track */

div#thumbs::-webkit-scrollbar-track:horizontal {
  -webkit-box-shadow: inset 0px 0px 4px rgba(0, 0, 0, .9);
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
div#thumbs:hover::-webkit-scrollbar-track:horizontal {
  -webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, .9);
}
/* Handle */

div#thumbs:hover::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 40px;
  background: rgba(0, 0, 222, .212);
  -webkit-box-shadow: inset 1px 1px 6px rgba(0, 255, 10, .31);
  transition: 1s ease-in-out .2s;
}
div#thumbs::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(100, 0, 0, .5);
  border-radius: 40px;
}
div#thumbs::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 190, 25, .81);
  -webkit-box-shadow: inset 1px 1px 6px rgba(0, 0, 210, .81);
  transition: background-color .3s, color .15s, box-shadow .3s, opacity 0.3s
}
.featherlight-content::-webkit-scrollbar-button:single-button, div#thumbs::-webkit-scrollbar-button:single-button {
  display: none;
}
.w3-container::-webkit-scrollbar-button:single-button:start, .w3-container::-webkit-scrollbar-button:single-button:end, .aio-help::-webkit-scrollbar-button:single-button:start, .aio-help::-webkit-scrollbar-button:single-button:end {
  display: none;
}
div#thumbs {
  cursor: pointer;
}
.w3-dropdown-content .help-messages a:hover {
  color: #00ff8b;
  background: rgba(0, 0, 0, .5);
}
.w3-modal-content~#caption #imgNavButtons {
  z-index: 9999999;
  position: fixed;
  margin: auto;
  right: 0;
  left: 0;
  bottom: 20px;
}
.showcase {
  margin: auto;
  right: 0;
  left: 0;
  width: 1100px;
  max-width: 100%;
  top: 70px;
  height: 650px;
  position: fixed;
}
.showNav .showcase {
  top: 90px;
}
.w3-modal {
  margin-top: 40px;
  background: linear-gradient(rgb(0, 0, 0) 22%, rgb(56, 57, 58) 49%, rgb(45, 48, 50) 57%, rgb(5, 11, 11) 71%);
}
.showNav .w3-modal {
  margin-top: 60px;
}
input#bgRotatorSeconds {
  padding: 3px 16px;
  font-size: 20px;
  font-weight: 800;
  width: 85px;
  display: inline-block;
  border: 2px solid transparent;
  border-bottom: 2px solid #808080;
}
input#bgRotatorSeconds:hover {
  border: 2px dashed #099;
  background: #9dd;
}
input#bgRotatorSeconds:focus {
  background: #ddd;
}
input#bgRotatorSeconds.error {
  border: 2px dotted #fcf939;
  background: #ff0000;
}
input:focus {
  outline: 2px solid rgba(0, 0, 0, 0.55);
}
#mzd-title, #options td:first-child {
  -webkit-user-select: none;
  cursor: default;
}
.w3-half.extraUIRange {
  width: 49.999% !important;
}
.side-colors {
  width: 49.987% !important
}
#customThemeOps {
  max-height: none;
  height: auto;
}
.modal small {
  color: #000;
}
span.icon-question {
  cursor: pointer;
}
#compatibilityCheck {
  max-height: 550px;
  overflow: auto;
}
.all-compat {
  columns: 9;
}
#sidePanel td {
  padding: 3px 5px;
  vertical-align: middle;
}
#sidePanel .w3-bordered tbody.gracenote {
  height: 70px;
}
#sidePanel .vpaudioHack li {
  list-style: inside square;
}
/*div#fullSystemRestore {
top: 30%;
}*/

#systemRestoreInfo {
  top: 15%;
  width: 900px;
  max-width: 95%;
  position: absolute;
  margin: auto;
  margin-bottom: 100px;
  font-size: 12px;
  right: 0;
  left: 0;
}
#compileRestore {
  position: absolute;
  right: 0;
  left: 0;
  margin: 50px auto;
  width: 225px;
}
th#twkOpsTitle {
  font-size: 24px;
  display: table;
}
.advancedOp {
  display: none;
}
.sidePanel .w3-col.aahelp strong li {
  list-style: square inside;
  text-indent: 5px;
}
/* Videos */

.vid-container {
  width: 800px;
}
#videoPlayer {
  display: table;
  line-height: normal;
  font-size: 16px;
  margin: auto;
}
#videoPlayer video {
  height: 480px;
}
#videoPlayer figcaption {
  display: block;
  text-align: center;
  width: 950px;
}
section.main-vid {
  background: #000;
  color: #fff;
}
#videoPlayer figcaption a {
  display: block;
  opacity: .8;
  transition: 1s opacity;
  font-size: 12px;
  font-weight: 600;
}
#videoPlayer figcaption a img, figure video {
  width: 100%;
  height: auto;
}
#videoPlayer figcaption a:hover {
  opacity: 1;
}
#videoPlayer video, #videoPlayer figcaption {
  display: table-row;
}
#videoPlayer figcaption a {
  display: inline;
  font-size: 15px;
}
#videoPlayer figcaption a:hover {
  color: #fff;
  opacity: 1;
}
.main-vid hr {
  margin: 10px;
}
a.w3-btn:focus {
  color: #58ffa4;
}
#imgNavPrevButtons {
  position: fixed;
  right: 0;
  left: 0;
  margin: auto;
}
tr#uistyle-mainlabel td, tr#uistyle-altlayout td {
  width: 500px;
}
tr#uistyle-mainlabel td input[type="color"] {
  display: none;
  width: 24%;
}
tr#uistyle-mainlabel.color td select {
  width: 72%;
}
tr#uistyle-mainlabel.color td input[type="color"] {
  display: inline;
}
.alt-layout #options .w3-half {
  width: 20%;
}
.alt-layout #sidePanelTitle, .alt-layout #options {
  width: 100%;
}
.alt-layout #sidePanel {
  width: 100%;
  margin-left: 0;
  margin-top: 10px;
  min-height: 200px;
}
.alt-layout #bg-img {
  display: none;
}
.alt-layout #sidePanel ul {
  columns: 2;
  column-rule: 5px dashed rgb(0, 0, 0);
  column-gap: 30px;
}
.alt-layout #sidePanel [class*="Message"] ul {
  columns: 1;
}
@media(max-width:1200px) {
  .alt-layout #options .w3-half {
    width: 33.33333% !important;
    border: 0;
    padding: 0;
    outline: 1px dashed #000;
    outline-offset: -2px;
  }
  .alt-layout .w3-table td, #options td:first-child {
    padding: 4px 10px;
  }
  @media(max-width:800px) {
    .alt-layout #options .w3-half {
      outline-style: dotted;
    }
  }
}
header.handle {
  cursor: move;
}
.w3-modal footer {
  position: relative;
  height: 100%;
}
.spdOpsPanel .autoSortBtn i, #BarColorOps .colorMapBtn i, #custOptions19 .resetBtn.mainReset i, #audioSourceOrder .resetBtn i, .spdOpsPanel .resetBtn i, .spdOpsTips .closeBtn, .spdOpsPanel .toggleTipsBtn i, .spdOpsPanel .closeBtn {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  outline-offset: -7px;
  transition: 1s ease-in-out .5s;
  font-size: 24px;
  border: none;
  display: inline-block;
  outline: 0;
  padding: 6px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none !important;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  white-space: nowrap;
}
#custOptions19 .resetBtn.mainReset i {
  top: initial;
  right: initial;
}
#custOptions19 .resetBtn.mainReset i:hover {
  background-color: rgb(255, 155, 0);
  color: rgb(0, 0, 0)
}
#audioSourceOrder .resetBtn i, .spdOpsPanel .resetBtn i, .spdOpsPanel .toggleTipsBtn i {
  left: 10px;
  padding: 10px;
  width: 40px;
  background-color: rgba(0, 0, 0, 0.3);
}
#SpdExtraOps {
  width: 600px;
  overflow: visible !important;
}
#SpdExtraOps input[type=checkbox].w3-check {
  top: 6px;
}
#SpdExtraOps * {
  font-size: 16px;
  font-weight: 500;
}
#SpdExtraOps input[type=checkbox]:checked+label {
  color: #fff900;
}
#SpdExtraOps .spdExtraOp .popover .popover-title {
  font-size: 14px;
}
#SpdExtraOps .w3-half {
  width: 49.99999% !important;
}
#SpdExtraOps .w3-quarter {
  width: 24.99999% !important;
}
#SpdExtraOps .w3-third {
  width: 33.333% !important;
}
#SpdExtraOps .w3-threequarter {
  width: 60%;
}
.spdOpsPanel input[type=number] {
  color: #000;
  font-size: 16px;
  font-weight: 500;
}
.spdOpsPanel select:disabled, .spdOpsPanel input:disabled {
  background: #a2a2a2;
  color: #404040;
}
.spdOpsPanel .resetBtn i {
  left: 50px
}
.spdOpsPanel .autoSortBtn i:hover, .spdOpsPanel .resetBtn i:hover, #BarColorOps .colorMapBtn i:hover, .spdOpsPanel .toggleTipsBtn i:hover, .spdOpsPanel .closeBtn:hover {
  background-color: #000;
  color: #ff0000;
}
.spdOpsPanel .autoSortBtn i, #BarColorOps .colorMapBtn i {
  padding: 10px;
  width: 50px;
  height: 48px;
  right: 45px;
}
#audioSourceOrder .resetBtn {
  position: relative;
}
#custOptions19 .spdOpsPanel {
  z-index: 999;
  position: fixed;
  overflow-y: auto;
}
.spdOpsPanel select {
  outline: 1px solid;
  outline-offset: -2px;
}
.spdOps>* {
  width: 24.5% !important;
  line-height: 1;
  border-top: 1px solid;
}
#SpeedoOps {
  width: 800px;
  margin-top: 3%;
}
#SpeedoOps span[id*=spdOp-] {
  font-weight: 700;
  font-size: 16px;
  white-space: nowrap;
  padding-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#SpeedoOps .w3-container {
  height: 550px;
  overflow: auto;
  padding-bottom: 80px;
}
#custOptions19 #SpeedoOps.spdOpsPanel {
  overflow-y: hidden;
}
.spdOpsPanel input[type=number].w3-quarter {
  width: 24.555%;
}
.speedo-lang select, .speedo-lang select option {
  font-weight: 600;
  font-size: 15px;
}
select#spdOp-barThemeStart {
  max-width: 25%;
}
#SpdOpsTips .w3-container div {
  display: none;
}
.gauge-type {
  width: 40%;
}
.featherlight.announcementWindow a {
  display: inline;
}
/* @media Queries */

@media only screen and (min-width: 801px) {
  div#sidePanel {
    /*width: 35%;*/
  }
  .colorLabel .w3-tag img {
    margin-top: 5%;
  }
  .modal-dialog:not(.modal-sm) {
    width: 660px;
  }
  .translated-ltr .w3-container.w3-row.w3-section.ng-scope {
    margin-bottom: 100px !important;
  }
  .translated-ltr body {
    margin-top: -40px;
  }
  .skiptranslate .goog-te-banner-frame {
    position: fixed;
    top: 90%;
  }
  .bootbox.modal.confirmCompile .modal-dialog {
    width: 840px;
  }
  .bootbox.modal.confirmCompile .modal-dialog li {
    text-shadow: 1px 1px 7px #65dbff;
  }
  .bootbox.modal.confirmCompile .modal-dialog li.inst-list {
    text-shadow: 1.1px 1.1px 4.9px rgba(39, 185, 144, 0.6)
  }
  .bootbox.modal.confirmCompile .modal-dialog li.uninst-list {
    text-shadow: .1px 1.1px 6.51px rgba(255, 113, 113, 0.78);
  }
  button#compileButton {
    transition: 2s ease-in .5s;
  }
  button#compileButton.left {
    margin-right: 240px;
  }
  .form-group1:first-child, .form-group1:nth-child(4) {
    width: 29.999%;
  }
  .form-group1:nth-child(2), .form-group1:nth-child(3) {
    width: 19.9999%;
  }
  div#backgroundPreviewModal .w3-modal-content {
    background-color: #000 !important;
  }
  @media only screen and (min-width: 1051px) {
    tr {
      height: 40px;
    }
    .twkfltr {
      position: fixed;
      top: 20px;
      right: 110px;
      z-index: 99500;
    }
    .twkfltr input {
      width: 25px !important;
      background: transparent;
      transition: 2s ease-in 2s;
    }
    .twkfltr input[type=text]:focus {
      width: 220px !important;
      transition-delay: 0s;
      background: #000;
      color: #fff;
    }
    .useColorBG.w3-right {
      width: 50%;
    }
    #sidePanel .AAmsg, #sidePanel td.aa-side.w3-col label {
      font-size: 16px;
    }
    #SpdExtraOps .w3-threequarter {
      width: 67.999%;
    }
    @media only screen and (min-width: 1400px) {
      div#options, #extraOptions {
        width: 49%;
      }
      .sidePanel li div.w3-tooltip {
        font-size: 16px;
      }
      #mainOptions, #options, .sidePanel {}
      .sidePanel .communicationFile {
        letter-spacing: normal;
      }
      .sidePanel {
        width: 49%;
        min-height: 479px;
      }
      #sidePanel td {
        padding: 6px;
        vertical-align: middle;
      }
      .alt-layout #sidePanel td {
        padding: 6px 4px;
        vertical-align: inherit;
      }
      @media only screen and (min-width: 1800px) {
        .w3-half.uistyle {
          width: 33.333%
        }
        #sidePanel tbody.hasColorFiles tr td .speedo-radio label, .w3-quarter.uistyle {
          width: 16.6666666%;
        }
        .w3-half.mainmenuoptions, .w3-half.side-colors {
          width: 24.999% !important;
        }
        .w3-col.mainmenuoptions {
          width: 49.999%;
        }
        .bgrotator.w3-half {
          white-space: nowrap;
        }
        .bgrotator-button.w3-half {
          width: 20%;
        }
        tr#customThemeOps {
          max-width: 50%;
          max-height: 40px !important;
        }
        #custOptions15 .w3-third {
          width: 20%;
        }
        .alt-layout #sidePanel ul {
          columns: 3;
        }
      }
    }
  }
}
@media (max-width:1200px) {
  #main {
    margin-left: 10px;
  }
  .w3-third.side-colors {
    width: 33.22211% !important
  }
  .w3-table td {
    padding: 3px 0px 6px 0px;
  }
  .sidePanel td:first-child {
    min-width: 34px;
    vertical-align: top;
    padding: 5px;
    padding-right: 0;
  }
  .w3-bordered tr {
    max-height: none;
    min-height: 45px;
  }
  .w3-col.m6 {
    width: 99.999% !important;
  }
  .w3-table td label {
    max-height: 37px;
    overflow-y: hidden;
    vertical-align: middle;
  }
  .sidePanel tr td strong {
    font-size: 12px !important;
  }
  .main, section.options {
    margin-left: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
  }
  .hide-sm {
    display: none;
  }
  #mzd-title .view-log {
    display: none;
  }
  div#options, #extraOptions {
    width: 49%;
  }
  .sidePanel {
    width: 49%;
    min-height: 960px;
  }
  #options tr:first-child {
    padding-top: 5px;
  }
  #options tr:last-child {
    padding-bottom: 3px;
  }
  #update-available {
    width: 1px;
    white-space: nowrap;
  }
  @media (max-width:1050px) {
    .w3-twothird, .w3-third, .w3-half {
      width: 99.999% !important;
    }
    .speedo-ops .w3-third {
      width: 33.33333% !important;
    }
    #sidePanel .speedo-ops .w3-third label {
      width: 100%;
    }
    .w3-quarter {
      width: 49.999% !important;
    }
    #SpeedoOps .w3-quarter {
      width: 24.59% !important;
    }
    #sidePanel {
      min-height: 1040px;
    }
    #options tr {
      padding-top: 0px;
    }
    div#date, div#clock {
      right: 95px;
    }
    #ctxt-ico {
      left: 105px;
    }
    #ctxt-title, #ctxt-notif {
      left: 150px;
    }
    span#closePrevew2 {
      right: 0px !important;
    }
    @media (max-width:950px) {
      #ctxt-title, #ctxt-notif {
        left: 100px;
      }
      #date, #clock {
        right: 35px;
      }
      #ctxt-ico {
        left: 45px;
      }
      .showcase {
        left: -90px;
        max-width: 120%;
      }
      .all-compat {
        columns: 5;
      }
      #compatibilityCheck {
        max-height: 450px;
      }
      label#autorunCheck {
        display: none;
      }
      @media (max-width:800px) {
        .showcase {
          left: -80px;
        }
        h3.tweak-inst-title {
          font-size: 20px;
        }
        .w3-text {
          padding: 10px !important;
        }
        .w3-container.mainContainer {
          margin-bottom: 5px;
        }
        .bootbox.modal.fade.in {
          margin-top: 10px;
        }
        .mazda {
          letter-spacing: 3px !important;
        }
        .w3-btn, .w3-btn-block {
          padding: 5px 10px !important;
        }
        .w3-sidenav a {
          font-size: 12px;
        }
        .goog-logo-link {
          font-size: 20px !important;
        }
        .w3-container.form-group1>span {
          font-size: 15px;
        }
        .useColorBG.w3-right {
          position: relative;
          margin-top: -8px;
          width: 100%;
        }
        #sidePanel {
          min-height: 1045px;
        }
        div#date, div#clock {
          right: 120px;
        }
        #ctxt-ico {
          left: 80px;
        }
        #ctxt-title, #ctxt-notif {
          left: 120px;
        }
        span#closePrevew2 {
          right: 25px !important;
        }
        li#FW_VER {
          display: none !important;
        }
      }
    }
  }
}
@media only screen and (max-height: 740px) {
  #SpeedoOps {
    height: 530px;
  }
  #SpeedoOps .w3-container {
    height: 400px;
  }
  .spdOpsPanel {
    max-height: 75%;
  }
  #SpeedoOps .w3-container {
    height: 450px;
  }
}
#imgmodal.slideshow img {
  left: 0px;
  animation: slideshow 30s steps(10, end) infinite;
}
@keyframes slideshow {
  to {
    left: -8000px;
  }
}
/* Big update modal for v2.2.0 */

.bootbox.update-info .modal-dialog {
  max-width: 90%;
  width: 1400px;
  font-family: Verdana, sans-serif;
  /*font-variant: small-caps;
	text-transform: capitalize;*/
}
.update-info h5 {
  font-weight: 600;
}
.unwifiap, .update-info a, .help-messages a, #sidePanel a:not(.w3-closenav) {
  border-bottom: 1px dashed #499aff;
  cursor: pointer;
}
a#update-available {
  white-space: nowrap;
  max-width: 1px;
}
.w3-navbar li#update-available:hover {
  background-color: #f1f1f2;
}
#changelog {
  text-transform: capitalize;
}
#changelog li {
  text-transform: none;
}
span.nocap {
  text-transform: none;
}
#changelog td {
  border: 2px dotted #000;
  padding: 17px;
}
#changelog tr th {
  text-align: center;
}
#sidePanel a.w3-btn, .help-messages a.w3-btn {
  border: none;
}
.slide-out-div {
  padding: 5px;
  width: 250px;
  background: #eee;
  border: #29216d 1px solid;
  z-index: 99;
  top: 90px;
}
a.handle, a.handle:focus, a.handle:hover {
  outline: 1px solid #000 !important;
  outline-offset: 0;
  background: #00daff;
  width: 90px;
  height: 40px;
  display: block;
  text-indent: 0px;
  font-weight: 700;
  position: absolute;
  transform: rotate(-90deg);
  text-align: center;
  top: 25px;
  right: -66px;
  padding-top: 2px;
}
.showNav .slide-out-div {
  top: 120px !important;
}
a.handle:focus {
  background: #ff0000;
  color: #fff;
  opacity: .6;
}
a.handle:hover {
  background: #000066;
  color: #fff;
  opacity: .8;
}
a.handle:active {
  background: #000;
  color: #ff0000;
}
.featherlight .featherlight-close-icon {
  position: fixed;
  line-height: 60px;
  width: 60px;
  background: rgba(255, 255, 255, .5);
  transition: .3 ease-in;
}
.featherlight .featherlight-close-icon:hover {
  background: rgba(255, 255, 255, .8);
}
.featherlight.myStance .featherlight-content {
  max-width: 90%;
}
.featherlight.myStance .featherlight-inner h1 {
  white-space: normal;
  font-size: 1.6rem;
}
.featherlight.myStance .featherlight-inner h2 {
  text-align: center;
  font-size: 1.2rem;
}
.featherlight.myStance .featherlight-inner h3 {
  text-align: center;
  font-size: 1.1rem;
}
.featherlight.myStance .featherlight-inner h4 {
  text-align: justify;
  font-size: 1rem;
}
.featherlight.myStance p.featherlight-inner {
  font-size: 20px;
  text-align: justify;
}
.featherlight.myStance a {
  color: #00006b;
  text-decoration: underline;
}
.featherlight.myStance b.featherlight-inner {
  display: initial;
}
.featherlight.myStance {
  user-select: none;
}
.featherlight.myStance #firstTimer {
  text-align: center;
}
script.featherlight-inner {
  display: none !important;
}
.featherlight.autoHelpBox .featherlight-content {
  width: 100%;
  max-width: 900px;
}
#autoHelp {
  max-width: 95%;
  margin: 65px auto;
  width: 900px;
  columns: 2;
  height: 600px;
}
#autoHelp div {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}
#autoHelp div:first-of-type {
  height: 34%;
  margin-top: 0 !important;
}
#autoHelp div:nth-of-type(2) {
  height: 50%;
}
.featherlight.autoHelpBox .featherlight-content #autoHelp {
  margin-top: 0;
}
span.icon-star.featherlight-inner {
  display: inline;
}
.confirmAutorunCompile label {
  font-size: 20px;
  font-weight: 500;
}
.wifiSSIDprompt .modal-footer button, .confirmAutorunCompile .modal-footer button {
  width: 49%;
}
.bootbox-form .checkbox input[type=checkbox] {
  margin-right: 10px;
}
#autoHelp div {
  margin-bottom: 21px;
}
#sidePanel select {
  padding: 6px 0;
}
input#checkAutorun {
  top: 6px;
}
label.w3-label.checkAutorun {
  outline: 2px dashed #0e2763;
  outline-offset: 4px;
}
a.autorunHelp {
  position: absolute;
  top: 112px;
  right: 50px;
  z-index: 1000;
  font-size: 36px;
}
.serial-warning {
  display: none;
}
.serial-warning a {
  text-decoration: underline;
  color: blue;
}
input[type*=checkbox]:checked+.serial-warning {
  display: block;
}
#header .w3-label {
  letter-spacing: normal;
  color: #000000;
  font-size: 20px;
  vertical-align: middle;
}
input#id7Recovery {
  top: 4px;
}
.id7Recovery.w3-dropdown-content {
  min-width: 190px;
}
.id7Recovery .w3-label {
  top: -10px;
}
.mazda .id7Recovery {
  text-transform: none;
}
.aio-help {
  max-height: 500px;
  overflow-y: scroll;
}
.featherlight-content .anonCloseBtn, #sidePanel a.anonCloseBtn {
  float: right;
  font-size: 40px;
  line-height: 40px;
  border: none;
}
style.featherlight-inner {
  display: none !important;
}
.speedoRef {
  text-align: right;
  margin-top: -500px;
  width: 40%;
  max-width: 500px;
}
pre.featherlight-inner code {
  white-space: pre;
  width: 60%;
  display: inline-block;
}
.featherlight .featherlight-content {
  max-height: 100%
}
#sidePanel div#anonce {
  border: 2px dashed;
  padding: 20px;
  outline-offset: -10px;
  outline: 2px dotted #ff0000;
}
#sidePanel td.aa-side.w3-col label, #sidePanel td.aa-side.w3-col input {
  margin-top: 0;
  padding-bottom: 10px;
}
.featherlight-content .anonCloseBtn {
  display: none;
}
button.btn.btn-default[data-bb-handler="cancel"] {
  background-color: #ff8e8e;
  border-color: #ff0000;
}
button.btn.btn-default[data-bb-handler="cancel"]:hover {
  color: #fff;
  background-color: #88302c;
  border-color: #600eff;
}
button.btn.btn-primary[data-bb-handler="confirm"] {
  border-color: #000;
}
button.btn.btn-primary[data-bb-handler="confirm"]:hover {
  background-color: #009464;
  color: #000;
  border-color: #fbff03;
}
label.w3-label.checkAutorun {
  position: absolute;
  top: 95px;
  right: 15px;
  font-size: 20px;
  color: #000;
  text-align: center;
  z-index: 99;
  transition: .8s ease;
}
.showNav label.w3-label.checkAutorun {
  top: 125px;
  z-index: 1;
}
.w3-navbar *, .w3-sidenav * {
  cursor: pointer;
}
.w3-sidenav .AAmsg div {
  padding: 10px;
  font-weight: 500;
  font-size: 14px;
}
.w3-sidenav .AAmsg div a {
  display: inline;
  padding: 0px 2px;
}
button#compileAutorun {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.pace .pace-progress[data-progress="99"], .pace .pace-progress[data-progress="99"]~.pace-activity {
  opacity: 0;
  transition: 10s ease-out .3s;
}
.aapatcher-btn {
  right: 0;
  left: 0;
  min-width: 100px;
  display: block;
  margin: 10px auto;
}
.aapatcher-btn:hover {
  border: red 2px dotted;
}
#audioSourceOrder .w3-container {
  columns: 2;
}
#audioSourceOrder input[type=number] {
  width: 25%;
  text-align: center;
  padding-top: 0;
}
#audioSourceOrder .audio-order {
  padding-top: 8px;
}
#audioSourceOrder .audio-order span {
  padding-top: 4px;
}
#SbSpeedoOps {
  font-size: 16px;
  max-width: 600px;
  margin-top: 40px;
}
#SbSpeedoOps label {
  color: #000;
  margin-top: 5px;
}
#SbSpeedoOps .w3-quarter .w3-half {
  width: 49.999% !important;
}
input#spdOp-interval {
  color: #000;
  font-size: 17px;
  text-align: right;
}
#BarColorOps {
  max-width: 800px;
}
#BarColorOps input[type=color] {
  float: right;
  width: 200px;
  height: 30px;
}
.barThemeColors {
  columns: 2;
}
.barTheme {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}
.barTheme div {
  border: 2px solid;
}
.sbFuelBarColors {
  display: inline-table;
  width: 20%;
}
#ClassicSpeedoOps {
  width: 400px;
  height: 525px;
  margin-top: 30px;
  max-height: 75%;
  overflow: hidden;
}
#ClassicSpeedoOps header, #ClassicSpeedoOps header .w3-threequarter {
  margin-top: 10px
}
.spdOpsPanel header>.w3-threequarter {
  width: 74.55555% !important;
  white-space: nowrap;
}
.spdOpsPanel header .w3-quarter {
  width: 24.55555% !important;
}
#SpeedoOps.spdOpsPanel header .w3-threequarter {
  width: 70% !important;
}
.spdOpsPanel {
  margin-top: 30px;
  max-height: 75%;
  overflow: hidden;
}
.spdOpsPanel header span, #SpeedoControlOps header b {
  font-family: mazda;
  letter-spacing: 2px;
}
#ClassicSpeedoOps .w3-container {
  overflow: auto;
  height: 425px;
}
#ClassicSpeedoOps .w3-container .w3-row>span.w3-half {
  text-align: right;
  margin-right: 5px;
  vertical-align: middle;
  width: 49.95% !important;
  padding-top: 10px;
}
#ClassicSpeedoOps .w3-container .w3-row input[type=number].w3-half {
  width: 49.95% !important;
}
#ClassicSpeedoOps .w3-container .w3-row>span:after {
  content: ":"
}
#SbSpeedoOps input[type=number], #ClassicSpeedoOps input[type=number] {
  width: 40%;
}
#ClassicSpeedoOps input[type=checkbox].w3-check {
  top: 6px;
}
#ClassicSpeedoOps input[type=checkbox].w3-check+span {
  transition: 1.2s ease;
}
#ClassicSpeedoOps input[type=checkbox].w3-check:checked+span {
  color: #120eff;
  font-size: 18px;
}
#SbSpeedoOps label.w3-row.w3-col {
  max-width: 100%;
  min-width: 100%;
  margin-top: 8px;
  right: 0;
  position: absolute;
  left: 0;
  color: black;
}
#SpeedoControlOps {
  height: 400px;
  width: 750px;
}
#SpeedoControlOps div {
  position: absolute;
  text-align: right;
  font-size: 16px;
  width: 250px;
}
#SpeedoControlOps [class*=multictrl] {
  color: #fff;
  font-weight: 700;
}
#SpeedoControlOps div {
  text-shadow: 2px 2px 1px #000;
}
#SpeedoControlOps div select {
  width: 150px;
}
#SpeedoControlOps .speedo-radio {
  color: #000;
}
#sidePanel #SpeedoControlOps .speedo-radio label {
  width: 100%
}
#SpdOpsTips header, #SpdExtraOps header, #SpeedoControlOps header {
  background: #e2e42c;
  letter-spacing: 2px;
  margin-bottom: 10px
}
#SpdOpsTips {
  width: 300px;
  right: 0;
  min-height: 200px;
  display: none;
  font-size: 14px;
  z-index: 999;
  transition: background 4s ease-in 5s;
  color: #fff;
  background: rgba(0, 0, 0, 0.65);
}
#SpdOpsTips:hover {
  background: rgb(50, 50, 50);
  transition: background .4s ease-out .2s;
}
.move-handle {
  cursor: move;
}
.multictrl-right, .multictrl-holdright {
  top: 45%;
  right: 0px;
  margin-right: 10px;
}
.multictrl-left, .multictrl-holdleft {
  top: 45%;
  right: 70%;
  margin-left: 10px;
}
.multictrl-up, .multictrl-holdup {
  top: 80px;
  right: 35%;
  margin: auto;
}
.multictrl-down, .multictrl-holddown {
  top: 70%;
  right: 35%;
  margin: auto;
}
.multictrl-select, .multictrl-holdselect {
  top: 45%;
  right: 35%;
  margin: auto;
}
[class^="multictrl-hold"] {
  margin-top: 50px;
}
.mc-wheel {
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  top: 35%;
}
#serialConnection .link {
  color: blue;
  cursor: pointer;
  border-bottom: 1px dashed green;
}
.ng-invalid {
  background: #920000 !important;
  color: #fff !important;
  outline: 2px solid #000;
  outline-offset: -3px;
  cursor: cell;
}
.ng-invalid:hover, .ng-invalid:focus {
  background: initial;
  color: initial;
  outlline: none;
  cursor: auto;
}
.fuel-gauge-capacities {
  transition: .6s ease-in .2s;
  text-decoration: underline;
}
.fuel-gauge-capacities:hover {
  background: rgba(242, 145, 249, 0.56);
  color: blue;
}
input:disabled {
  cursor: not-allowed;
}
