html, body {
  font: caption;
  width: 100%;
  height: 100%;
  background: #FEFEFE;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInN0eWxlLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBS0EsSUFBQSxFQUFBLElBQUEsQ0FBQTtFQUNDLEtBQUEsRUFBQSxJQUFZO0VBQ1osTUFBQSxFQUFBLElBQWE7RUFDYixVQUFBLEVBQUEsT0FBb0IsR0FDcEIiLCJmaWxlIjoic3R5bGUuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiQGltcG9ydCAnYmFzZS9iYXNlJztcclxuXHJcbkBpbXBvcnQgJ2luY2x1ZGVzL25hdic7XHJcbkBpbXBvcnQgJ2luY2x1ZGVzL2Zvb3Rlcic7XHJcblxyXG5odG1sLCBib2R5IHtcclxuXHR3aWR0aDogMTAwJTtcclxuXHRoZWlnaHQ6IDEwMCU7XHJcblx0YmFja2dyb3VuZDogI0ZFRkVGRTtcclxufSJdLCJzb3VyY2VSb290IjoiL3NvdXJjZS8ifQ== */
