<div class="vid-container">
  <section class="main-vid">
    <figure id="videoPlayer">
  		  <center class="w3-border">
		  <b class="w3-large">DEFAULT:</b>
		  <a href="./files/vid/LoopLogo.webm" loop>LoopLogo</a> =&gt;
          <a href="./files/vid/TranLogo.webm">TranLogo</a> =&gt;
          <a href="./files/vid/TranLogoEnd.webm">TranLogoEnd</a>
		  </center>
      <video poster="./files/vid/Mazda.png" width="800" height="480" autoplay>
        <source src="./files/vid/Boot.webm" type="video/webm">
        </video>
        <figcaption>
          <a href="./files/vid/Matrix.webm" loop>Matrix</a> =&gt;
          <a href="./files/vid/TranCarFlash.webm">Car Flash</a>
          |
          <a href="./files/vid/LoopLogoCinema.webm" loop>Cinema Loop</a> =&gt;
          <a href="./files/vid/TranLogoEndCinema.webm">Cinema</a>
          |
          <a href="./files/vid/LoopLogoZ.webm" loop>MaZda-Z Logo</a> =&gt;
          <a href="./files/vid/TranLogoEndSpace.webm">MZD Space</a>
          |
          <a href="./files/vid/TranLogoCrissCross.webm" loop>Criss Cross Loop</a> =&gt;
          <a href="./files/vid/TranLogoEndCrissCross.webm">Criss Cross</a>
          <hr>
          <a href="./files/vid/LoopLogoFiat.webm" loop>Fiat Logo</a> =&gt;
          <a href="./files/vid/TranLogoFiat.webm">Spider 124 Tran</a>
          |
          <a href="./files/vid/LoopLogoRace.webm" loop>MZD Race Loop</a> =&gt;
          <a href="./files/vid/TranRace.webm">Race Tran</a> =&gt;
          <a href="./files/vid/TranLogoRace.webm" loop>Large Logo Loop</a> =&gt;
          <a href="./files/vid/TranLogoEndRace.webm">MZD Race</a>
          |
          <a href="./files/vid/TranIntroM.webm" loop>MZD Title Slam</a>
		</figcaption>
      </figure>
    </section>
    <script src="./assets/js/videoplayer.js"></script>
  </div>
