<link rel="stylesheet" href="./assets/css/casdk.css">
<link rel="stylesheet" href="./assets/vendor/gritter.css" />
<div id="header" style="" class="w3-blue" ng-cloak>
  <h1 id="mzd-title" class="mazda"> MZD-AIO-TI + CASDK <small class="w3-text-black"><i>v</i>{{appVer}}</small>
    <!--button id="compileButton" class="w3-indigo w3-small w3-btn w3-ripple w3-hover-amber" style="letter-spacing:1.4px;" data-toggle="tooltip" data-placement="bottom" title="{{menu.start.toolTip}}" ng-click="compileTweaks()" onclick="$(this).hide()"><span class="icon-genius"></span> {{menu.start.label}} <span class="icon-lab2"></span></button-->
  </h1>
  <span id="update-ready" class="w3-hide"><a href="" onclick="ipc.send('update-and-restart')" class="w3-btn w3-padding w3-hover-text-light-green">UPDATE &amp; RESTART</a></span>
  <button id="helpDropBtn" onclick="helpDropdown()" class="w3-btn w3-large helphints"><span class="icon-cog3"></span></button>
  <div id="helpDrop" class="w3-dropdown-content w3-card-8" style="position:absolute;">
    <div ng-include="'views/help.htm'" id="helpDropMenu" ng-class="user.flipOption" onclick="" class="menu-step" style="position: absolute;"></div>
  </div>
</div>
<div id="notices"></div>
<header>
  <span id="openNav" class="w3-opennav w3-xxlarge w3-display-topleft w3-padding w3-text-black" onclick="w3_open()" style="position:fixed">&#9776;</span>
  <h1 id="mzd-title" class="mazda" style="visibility:hidden;">MZD-AIO-TI</h1>
  <span id="openSidePanel" class="w3-opennav w3-xxlarge w3-display-topright w3-padding w3-text-black w3-hide" onclick="w3_openright()" style="position:fixed">&#9776;</span>
</header>

<div class="w3-container w3-row ng-scope w3-center" id="casdkInstallBtns">
  <div class="btn-group btn-group-justified">
    <div class="btn-group">
      <button type="button" id="in-submit" class="btn btn-theme03 w3-ripple w3-hover-green" style="letter-spacing:1.4px;" data-toggle="tooltip" data-placement="bottom" title="" ng-click="user.casdk={uninst:false,inst:true};compileCASDK(user)" onclick="$(this).prop('disabled',true);">INSTALL CASDK!</button>
    </div>
    <div class="btn-group">
      <button type="button" id="un-submit" class="btn btn-theme03 w3-ripple w3-hover-amber" style="letter-spacing:1.4px;" data-toggle="tooltip" data-placement="bottom" title="" ng-click="user.casdk={inst:false,uninst:true};compileCASDK(user)">UNINSTALL CASDK!</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-theme03 dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li class="autorun-link"><a href="#" ng-click="user.autorun.installer = true">Autorun & Recovery</a></li>
        <li class="fullrestore-link"><a href="#" ng-click="user.restore.full = true">Full System Restore</a></li>
        <li class="divider"></li>
        <li class="casdk-link"><a href="#/casdk" ng-click="user.restore.full = user.autorun.installer = false">CASDK</a></li>
        <li class="home-tweaks"><a href="#" ng-click="user.restore.full = user.autorun.installer = false">Tweaks</a></li>
      </ul>
    </div></div></div>
    <div class="w3-container w3-row w3-section">

      <nav id="sidePanel" class="sidePanel w3-card-4 w3-sidenav w3-white w3-animate-right w3-margin-top-64">
        <a href="javascript:void(0)" onclick="w3_closeright();" title="Hide Side Panel" class="w3-closebtn w3-closenav w3-large w3-hide-small w3-display-topright">&times;</a>
        <div class="row">


          <div class="col-lg-4 col-md-4 col-sm-4 mb">
            <div class="content-panel pn">
              <div id="" class="w3-center w3-header">
                <h3>MZD-AIO-TI + CASDK</h3>
                <br>
                <h6>CASDK Written By: Flyandi</h6>
                <h6>Integration Into AIO By: Trezdog44</h6>
              </div>
              <div class="footer centered">
                <a href onclick="shell.openExternal('mailto:Trez@MazdaTweaks.com?Subject=CASDK%20Contact')">
                  <p>Contact Trezdog44</p>
                  <h6><i class="fa fa-envelope">
                  </i><br/>Trez@MazdaTweaks.com</h6>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 mb">
            <div class="content-panel pn">
              <div id="blog-bg">
                <!--div class="badge badge-popular">CASDK</div-->
                <div class="blog-title">What Is CASDK?</div>
              </div>
              <div class="blog-text">
                <p>The Custom Application SDK for Mazda Infotainment System is a micro framework that allows you to write and deploy custom applications which integrate natively into the existing JCI framework without hassle.  This version of CASDK is integrated with AIO to create a unique framework with endless app posibilities.</p>
              </div>
            </div>
          </div><!-- /col-md-4-->
          <div class="col-lg-4 col-md-4 col-sm-4 mb">
            <div class="steps pn">
              <input id='op3' name='op3' type='checkbox' ng-model="apps.simpledashboard" ng-value="apps.simpledashboard"/>
              <label for='op3' ng-show="visibleApps.simpledashboard">Simple Dashboard</label>
              <input id='op2' name='op2' type='checkbox' ng-model="apps.vdd" ng-value="apps.vdd"/>
              <label for='op2' ng-show="visibleApps.vdd">VDD (Vehicle Diagnostic Data)</label>
              <input id='op4' name='op4' type='checkbox' ng-model="apps.gpsspeed" ng-value="apps.gpsspeed"/>
              <label for='op4' ng-show="visibleApps.gpsspeed">GPS Speeometer</label>
              <input id='op1' name='op1' type='checkbox' ng-model="apps.multidash" ng-value="apps.multidash"/>
              <label for='op1' ng-show="visibleApps.multidash">Multidash {{visibleApps.multidash}}</label>
              <!--input id='op5' name='op5' type='checkbox' ng-model="apps.devtools" ng-value="apps.devtools" ng-show="visibleApps.devtools"/>
              <label for='op5'>Dev Tools</label-->
              <input type="button" id="CASDKinfoBtn" class="w3-tooltip w3-btn w3-large w3-green CASDKinfoBtn" value="More Info">
              <input type="button" class="w3-btn w3-large" onclick="externalLink('casdk')" value="Develop CASDK Apps">
            </div>
          </div><!--/col-md-4 -->
        </div>

      </div>
    </div>
  </nav>

  <div class="showback">
    <div class="centered">
      <span id="CASDKinfo" class="w3-tag w3-text">
        <span class="w3-display-topright CASDKinfoBtn w3-closebtn w3-hover-deep-orange w3-text-blue w3-xxlarge w3-display-topright w3-text-shadow w3-opacity w3-padding">&times;</span>
        <div class="centered">
          <h2>CASDK</h2>Is a very exciting addition to AIO and opens the door to many possibilities.  Developers can use the npm package "casdk" to create a ready-to-go app template in seconds.  Using JavaScript and CSS, developers can easily build amazing apps on the CASDK framework.
          <div class="w3-container">
            <div class="w3-panel w3-center">Here are 2 more apps that can be installed specifically for developers:
            </div>
            <span div class="ck-button w3-dropdown-hover">
              <label  ng-show="visibleApps.terminal">
                <input type="checkbox" ng-value="apps.terminal" ng-model="apps.terminal">
                <span>Terminal App</span>
                <div class="w3-dropdown-content appimg">
                  <img src="files/screenshots/terminal.png" class="" onclick="$(this).parent().hide()">
                </div>
              </label>
            </span>
            <span div class="ck-button w3-dropdown-hover">
              <label ng-show="visibleApps.devtools">
                <input type="checkbox" ng-value="apps.devtools" ng-model="apps.devtools">
                <span>Dev Tools App</span>
                <div class="w3-dropdown-content appimg">
                  <img src="files/screenshots/devtools.png" class="" onclick="$(this).parent().hide()">
                </div>
              </label>
            </span>
          </div>
          <div class="w3-panel">The CASDK framework was originally designed to be run entirely from an SD card.  With AIO the framework and apps are installed onto system disk so that apps will be able to run without an SD Card connected.  CASDK apps can still be run from an SD card by selecting the option below.  If the SD card is connected during installation AIO will offer to install the apps directly to the SD card.  Apps can also be installed by copying the app folder to "/apps" on the root of the SD Card.  Also the name of the app folder needs to be added to "/apps/apps.js."  Using this method any CASDK app can be used even one you have developed yourself!</div>
          <div class="w3-container w3-center">
            <input id="casdkTOsd" type="checkbox" class="w3-check" ng-value="apps.sdcard" ng-model="apps.sdcard">
            <label for="casdkTOsd">RUN CASDK APPS FROM SD CARD<label>
            </div>
          </span>
        </div>
      </div><!-- /showback -->
      <div class="w3-container w3-card-8 w3-center">
        <div class="w3-panel">
          <button id="CASDKinfoBtn" class="w3-tooltip w3-btn w3-green CASDKinfoBtn">More Info.</button>
        </div>
      </div>

    </section>
  </div>
  <script src="./assets/vendor/gritter.js"></script>
  <script src="./assets/js/gritter-conf.js"></script>
  <script>
  $('.CASDKinfoBtn').click(function(){$('#CASDKinfo').toggleClass('w3-show')})
</script>
