<link rel="stylesheet" href="./assets/css/casdk.css">
<link rel="stylesheet" href="./assets/vendor/gritter.css" />
<div id="header" style="" class="w3-blue" ng-cloak>
  <h1 id="mzd-title" class="mazda"> MZD-AIO-TI + CASDK
    <small class="w3-text-black"><i>v</i>{{appVer}}</small>
  </h1>
  <span id="update-ready" class="w3-hide"><a href="" onclick="ipc.send('update-and-restart')" class="w3-btn w3-padding w3-hover-text-light-green">UPDATE &amp; RESTART</a></span>
  <button id="helpDropBtn" onclick="helpDropdown()" class="w3-btn w3-large helphints">
    <span class="icon-cog3"></span>
  </button>
  <div id="helpDrop" class="w3-dropdown-content w3-card-8" style="position:absolute;">
    <div ng-include="'views/help.htm'" id="helpDropMenu" ng-class="user.flipOption" onclick="" class="menu-step" style="position: absolute;"></div>
  </div>
</div>
<div id="notices"></div>
<header>
  <span id="openNav" class="w3-opennav w3-xxlarge w3-display-topleft w3-padding w3-text-black" onclick="w3_open()" style="position:fixed">&#9776;</span>
  <h1 id="mzd-title" class="mazda" style="visibility:hidden;">MZD-AIO-TI</h1>
  <span id="openSidePanel" class="w3-opennav w3-xxlarge w3-display-topright w3-padding w3-text-black w3-hide" onclick="w3_openright()" style="position:fixed">&#9776;</span>
</header>
<div class="w3-container w3-row ng-scope w3-center" id="casdkInstallBtns" ng-cloak>
  <div class="btn-group btn-group-justified">
    <div class="btn-group">
      <button type="button" id="in-submit" class="btn btn-theme03 w3-ripple w3-hover-green" style="letter-spacing:1.4px;" data-toggle="tooltip" data-placement="bottom" title="" ng-click="user.casdk={uninst:false,inst:true};" onclick="$(this).prop('disabled',true);$('#casdk-install-info').show();casdkInstBtn()">INSTALL CASDK!</button>
    </div>
    <div class="btn-group">
      <button type="button" id="un-submit" class="btn btn-theme03 w3-ripple w3-hover-amber" style="letter-spacing:1.4px;" data-toggle="tooltip" data-placement="bottom" title="" ng-click="user.casdk={inst:false,uninst:true};" onclick="$(this).prop('disabled',true);$('#casdk-uninstall-info').show();">UNINSTALL CASDK!</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-theme03 dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li class="autorun-link"><a href="#/" ng-click="user.autorun.installer = true">Autorun & Recovery</a></li>
        <li class="fullrestore-link"><a href ng-click="user.restore.full = true">Full System Restore</a></li>
        <li class="divider"></li>
        <li class="casdk-link"><a href="#/casdk" ng-click="user.restore.full = user.autorun.installer = false">CASDK</a></li>
        <li class="home-tweaks"><a href="#/" ng-click="user.restore.full = user.autorun.installer = false">Tweaks</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="w3-container w3-row w3-section" ng-cloak>
  <nav id="sidePanel" class="sidePanel w3-card-4 w3-sidenav w3-white w3-animate-right w3-margin-top-64">
    <a href="javascript:void(0)" onclick="w3_closeright();" title="Hide Side Panel" class="w3-closebtn w3-closenav w3-large w3-hide-small w3-display-topright">&times;</a>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 mb">
        <div class="content-panel pn">
          <div id="" class="w3-center w3-header">
            <h3>MZD-AIO-TI + CASDK</h3>
            <br>
            <h6>CASDK Written By: Flyandi</h6>
            <h6>Integration Into AIO By: Trezdog44</h6>
          </div>
          <div class="content-panel pn">
            <div class="secretCodes w3-center">
              <button class="w3-btn" onclick="toggleSecretCodes()">Codes</button>
              <br>
              <br>
              <input type="button" class="w3-btn casdk-apps-btn" value="Get CASDK Apps">
            </div>
          </div>
          <div class="footer centered">
            <a onclick="shell.openExternal('mailto:Trez@MazdaTweaks.com?Subject=AIO%20+%20CASDK%20Contact')">
              <p>Contact Trezdog44</p>
              <h6><i class="fa fa-envelope">
              </i>
                <br/>Trez@MazdaTweaks.com</h6>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 mb">
        <div class="content-panel pn">
          <div id="blog-bg">
            <!--div class="badge badge-popular">CASDK</div-->
            <div class="blog-title">What Is CASDK?</div>
          </div>
          <div class="blog-text">
            <p>The Custom Application SDK for Mazda Infotainment System is a micro framework that allows developers to write and deploy custom applications which integrate natively into the existing JCI framework without hassle. This version of CASDK is
              integrated with AIO to create a unique framework with endless app possibilities.</p>
          </div>
        </div>
      </div>
      <!-- /col-md-4-->
      <div class="col-lg-4 col-md-4 col-sm-4 mb casdk-apps">
        <div class="steps pn">
          <input id='op3' name='op3' type='checkbox' ng-model="apps.simpledashboard" ng-value="apps.simpledashboard" />
          <label for='op3' ng-show="visibleApps.simpledashboard">Simple Dashboard</label>
          <input id='op12' name='op12' type='checkbox' ng-model="apps.simplespeedo" ng-value="apps.simplespeedo" />
          <label for='op12' ng-show="visibleApps.simplespeedo">Simple Speedometer</label>
          <input id='op2' name='op2' type='checkbox' ng-model="apps.vdd" ng-value="apps.vdd" />
          <label for='op2' ng-show="visibleApps.vdd">VDD (Vehicle Diagnostic Data)</label>
          <input id='op4' name='op4' type='checkbox' ng-model="apps.gpsspeed" ng-value="apps.gpsspeed" />
          <label for='op4' ng-show="visibleApps.gpsspeed">GPS Speedometer</label>
          <input id='op1' name='op1' type='checkbox' ng-model="apps.multidash" ng-value="apps.multidash" />
          <label for='op1' ng-show="visibleApps.multidash">Multidash</label>
          <input id='op5' name='op5' type='checkbox' ng-model="apps.clock" ng-value="apps.clock" />
          <label for='op5' ng-show="visibleApps.clock">Clock</label>
          <input id='op11' name='op11' type='checkbox' ng-model="apps.background" ng-value="apps.background" />
          <label for='op11' ng-show="visibleApps.background">Background</label>
          <input id='op6' name='op6' type='checkbox' ng-model="apps.tetris" ng-value="apps.tetris" />
          <label for='op6' ng-show="visibleApps.tetris">Tetris</label>
          <input id='op7' name='op7' type='checkbox' ng-model="apps.breakout" ng-value="apps.breakout" />
          <label for='op7' ng-show="visibleApps.breakout">Breakout</label>
          <input id='op8' name='op8' type='checkbox' ng-model="apps.snake" ng-value="apps.snake" />
          <label for='op8' ng-show="visibleApps.snake">Snake</label>
          <input id='op9' name='op9' type='checkbox' ng-model="apps.devtools" ng-value="apps.devtools" />
          <label for='op9' ng-show="visibleApps.devtools">Dev Tools</label>
          <input id='op0' name='op0' type='checkbox' ng-model="apps.terminal" ng-value="apps.terminal" />
          <label for='op0' ng-show="visibleApps.terminal">Terminal</label>
          <input type="button" id="CASDKinfoBtn2" class="w3-tooltip w3-btn w3-large w3-green casdk-info-btn" value="More Info">
          <input type="button" id="CASDKappsBtn" class="w3-tooltip w3-btn w3-large w3-blue CASDKappsBtn" onclick="externalLink('casdk')" value="More CASDK Apps">
        </div>
      </div>
    </div>
</div>
</div>
</nav>
<div id="casdk-install-info" class="w3-modal">
  <div class="w3-modal-content w3-card-4">
    <header class="w3-container w3-cyan">
      <span onclick="document.getElementById('casdk-install-info').style.display='none';$('[id*=-submit]').prop('disabled',false);" class="w3-closebtn">&times;</span>
      <h1>CASDK is a micro-framework!</h1>
      <h3>That simplifies the way apps are built/run on the JCI framework</h3>
    </header>
    <div class="w3-container">
      <h5>CASDK comes with:</h5>
      <li>
        <b>CASDK Proxy</b> - Proxy registers both CASDK and AIO apps (replaces "additionalApps.js").</li>
      <li>
        <b>Custom Application Runtime</b> - A microframework that handles the custom applications during runtime. </li>
      <li>
        <b>Data Readers</b> - Poll vehicle data an certain intervals (1s, 60s, & 300s) </li>
      <li>
        <b>JS logging</b> - JavaScript (and CSS) console log is written to /tmp/root/casdk-error.log </li>
      <li>
        <b>LocalStorage</b> - Moves the save location of localStorage to /tmp/mnt/data_persist/storage/ </li>
      <li>
        <b>NodeJS</b> - Powerful Server-side JavaScript.</li>
      <li>
        <b>ADB</b> - Android Debug Bridge for Android devices.</li>
      <li>
        <b>Custom Applications</b> - Apps that run on the CASDK framework</li>
      <b>CASDK Framework and Apps are installed internally to the '/resources' partition by default, optionally CASDK apps can be run from an SD Card "/apps" folder. </b>
      <div> Native apps such as those installed with AIO will run on the CASDK framework although apps are installed differently with CASDK. The AIO Tweak installer will detect if CASDK is installed when running tweaks and adjust the installation accordingly
        but older app installers will not work while CASDK is installed.</div>
    </div>
    <footer>
      <button id="casdkInstallBtn" class="w3-btn-block w3-half w3-green w3-hover-red w3-center" style="display:none" ng-click="compileCASDK(user)" onclick="$('#casdk-install-info').hide()">Install CASDK Framework + Apps!</button>
      <button id="casdkInstallAppsBtn" class="w3-btn-block w3-half w3-blue w3-hover-orange w3-center" style="display:none" ng-click="compileCASDK(user, true)" onclick="$('#casdk-install-info').hide()">Install CASDK Apps Only</button>
    </footer>
  </div>
</div>
<div id="casdk-uninstall-info" class="w3-modal">
  <div class="w3-modal-content w3-card-4">
    <header class="w3-container w3-cyan">
      <span onclick="document.getElementById('casdk-uninstall-info').style.display='none';$('[id*=-submit]').prop('disabled',false);" class="w3-closebtn">&times;</span>
      <h1>Uninstall CASDK</h1>
    </header>
    <div class="w3-container">
      <h5>Uninstall</h5>
      <ul>
        <li>Uninstall Entire CASDK Framework - Will Also Uninstall All CASDK Apps <b>Note:</b> Some AIO apps may need to be reinstalled if installed with an older version.</li>
        <li>Only Uninstall Selected CASDK Apps - Leaving the CASDK framework installed is OK.  If all CASDK apps are uninstalled, the framework can continue be used for AIO Apps or lie dormant without any apps.</li>
      </ul>
    </div>
    <footer>
      <button id="casdkUninstallBtn" class="w3-btn-block w3-half w3-green w3-hover-red w3-center" ng-click="compileCASDK(user)" onclick="$('#casdk-uninstall-info').hide()">Uninstall CASDK Framework + Apps</button>
      <button id="casdkUninstallAppsBtn" class="w3-btn-block w3-half w3-blue w3-hover-orange w3-center" ng-click="compileCASDK(user, true)" onclick="$('#casdk-uninstall-info').hide()">Uninstall Selected CASDK Apps Only</button>
    </footer>
  </div>
</div>
<div id="secretCodeInput" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-center">
    <header class="w3-container w3-green">
      <span onclick="document.getElementById('secretCodeInput').style.display='none'" class="w3-closebtn secret-closebtn">&times;</span>
      <h2>Enter a Code</h2>
    </header>
    <span class="casdkCodes">
      <input id="casdkInput" type="text" ng-model="user.twkfltr" class="w3-input" placeholder="CODE" />
    </span>
    <footer>
      <button type="submit" class="w3-btn w3-center" id="secretCodeSubmit" ng-disabled="user.twkfltr===''" ng-click="secretCodes(user.twkfltr);user.twkfltr=''">Submit</button>
    </footer>
  </div>
  <div class="w3-display-middle reset-fade">Type 'RESET' to Reset Available CASDK Apps</div>
</div>
<div class="showback">
  <div class="centered">
    <span id="CASDKinfo" class="w3-tag w3-text">
      <span class="w3-display-topright casdk-info-btn w3-closebtn w3-hover-deep-orange w3-text-blue w3-xxlarge w3-display-topright w3-text-shadow w3-opacity">&times;</span>
      <div class="centered">
        <h2>CASDK</h2>Is a very exciting addition to AIO and opens the door to many possibilities. Developers can use the npm package "casdk" to create a ready-to-go app template in seconds or use one of the many open source speedometer implementations as
        a starting point. Using JavaScript and CSS, developers can easily build amazing apps on the CASDK micro-framework with nearly limitless possibilities.
        <div class="w3-container">
          <div class="w3-panel w3-center" ng-show="visibleApps.terminal || visibleApps.devtools">Apps for developers:
          </div>
          <span div class="ck-button w3-dropdown-hover">
            <label ng-show="visibleApps.terminal">
              <input type="checkbox" ng-value="apps.terminal" ng-model="apps.terminal">
              <span>Terminal App</span>
              <div class="w3-dropdown-content appimg">
                <img data-featherlight="views/casdk/terminal.htm" src="files/screenshots/terminal.png" class="" onclick="$(this).parent().hide()">
              </div>
            </label>
          </span>
          <span div class="ck-button w3-dropdown-hover">
            <label ng-show="visibleApps.devtools">
              <input type="checkbox" ng-value="apps.devtools" ng-model="apps.devtools">
              <span>Dev Tools App</span>
              <div class="w3-dropdown-content appimg">
                <img data-featherlight="views/casdk/devtools.htm" src="files/screenshots/devtools.png" class="" onclick="$(this).parent().hide()">
              </div>
            </label>
          </span>
        </div>
        <div class="w3-panel">The CASDK framework was originally designed to be run entirely from an SD card. With AIO + CASDK the framework and apps are installed onto the
          <code>/resources/</code> partition of the system so that apps will be able to run with or without an SD Card connected. CASDK apps can still be run from an SD card by selecting the option below. If the SD card is connected during installation, AIO
          will offer to install the apps directly to the SD card. Apps can also be installed by copying the app folder to
          <code>/apps</code> on the root of the SD Card. Also, add the name of the app to
          <code>/apps/apps.js</code> Using this method any CASDK app can be run from the SD card even one you have developed yourself!</div>
        <div class="w3-container w3-center">
          <input id="casdkTOsd" type="checkbox" class="w3-check" ng-value="apps.sdcard" ng-model="apps.sdcard">
          <label for="casdkTOsd">RUN CASDK APPS FROM SD CARD
          </label>
        </div>
    </span>
    </div>
  </div>
  <!-- /showback -->
  <div class="w3-container w3-card-8 w3-center">
    <div class="w3-panel">
      <span class="casdk-apps simpledashboard" ng-show="apps.simpledashboard">
        <div class="casdk-app-name">Simple Dash</div>
        <img class="casdk-app-img" alt="simpledashboard" data-featherlight="views/casdk/simpledashboard.htm" src="files/screenshots/simpledashboard.png">
      </span>
      <span class="casdk-apps vdd" ng-show="apps.vdd">
        <div class="casdk-app-name">VDD</div>
        <img class="casdk-app-img" alt="vdd" data-featherlight="views/casdk/vdd.htm" src="files/screenshots/vdd.png">
      </span>
      <span class="casdk-apps gpsspeed" ng-show="apps.gpsspeed">
        <div class="casdk-app-name">GPS Speed</div>
        <img class="casdk-app-img" alt="gpsspeed" data-featherlight="views/casdk/gpsspeed.htm" src="files/screenshots/gpsspeed.png">
      </span>
      <span class="casdk-apps multidash" ng-show="apps.multidash">
        <div class="casdk-app-name">MultiDash</div>
        <img class="casdk-app-img" alt="multidash" data-featherlight="views/casdk/multidash.htm" src="files/screenshots/multidash.png">
      </span>
      <span class="casdk-apps clock" ng-show="apps.clock">
        <div class="casdk-app-name">Clock</div>
        <img class="casdk-app-img" alt="clock" data-featherlight="views/casdk/clock.htm" src="files/screenshots/clock.png">
      </span>
      <span class="casdk-apps background" ng-show="apps.background">
        <div class="casdk-app-name">Background</div>
        <img class="casdk-app-img" alt="background" data-featherlight="views/casdk/background.htm" src="files/screenshots/background.png">
      </span>
      <span class="casdk-apps tetris" ng-show="apps.tetris">
        <div class="casdk-app-name">Tetris</div>
        <img class="casdk-app-img" alt="tetris" data-featherlight="views/casdk/tetris.htm" src="files/screenshots/tetris.png">
      </span>
      <span class="casdk-apps breakout" ng-show="apps.breakout">
        <div class="casdk-app-name">Breakout</div>
        <img class="casdk-app-img" alt="breakout" data-featherlight="views/casdk/breakout.htm" src="files/screenshots/breakout.png">
      </span>
      <span class="casdk-apps snake" ng-show="apps.snake">
        <div class="casdk-app-name">Snake</div>
        <img class="casdk-app-img" alt="snake" data-featherlight="views/casdk/snake.htm" src="files/screenshots/snake.png">
      </span>
      <span class="casdk-apps devtools" ng-show="apps.devtools">
        <div class="casdk-app-name">Dev Tools</div>
        <img class="casdk-app-img" alt="devtools" data-featherlight="views/casdk/devtools.htm" src="files/screenshots/devtools.png">
      </span>
      <span class="casdk-apps terminal" ng-show="apps.terminal">
        <div class="casdk-app-name">Terminal</div>
        <img class="casdk-app-img" alt="terminal" data-featherlight="views/casdk/terminal.htm" src="files/screenshots/terminal.png">
      </span>
      <span class="casdk-apps simplespeedo" ng-show="apps.simplespeedo">
        <div class="casdk-app-name">Simple Speed</div>
        <img class="casdk-app-img" alt="simplespeedo" data-featherlight="views/casdk/simplespeedo.htm" src="files/screenshots/simplespeedo.png">
      </span>
    </div>
    <div class="w3-small" ng-show="apps.sdcard"> Apps will be installed onto available SD Card. Additional CASDK apps can be installed to the
      <code>/apps/</code> directory on the SD Card.
    </div>
    <div class="w3-panel">
      <button id="CASDKnpmBtn" class="w3-btn w3-blue" onclick="externalLink('npmcasdk')">npm casdk</button>
      <button id="CASDKinfoBtn2" class="w3-btn w3-red casdk-info-btn">info</button>
      <button id="CASDKAppsBtn" class="w3-btn w3-green casdk-apps-btn">app codes</button>
    </div>
    <!--<span div class="ck-button w3-dropdown-hover">
        <label for="casdkTOsd2">
          <input id="casdkTOsd2" type="checkbox" class="w3-check" ng-value="apps.sdcard" ng-model="apps.sdcard">
          <span>INSTALL CASDK APPS ONTO SD CARD</span>
        </label>
      </span>-->
  </div>
</div>
<script src="./assets/vendor/gritter.js"></script>
<script src="./assets/js/gritter-conf.js"></script>
<script>
function toggleSecretCodes() {
  $('#secretCodeInput').toggle()
  $('#casdkInput').focus()
  $('.reset-fade').delay(500).fadeOut(4000)
}
  $('.casdk-info-btn').click(function() {
    $('#CASDKinfo').toggleClass('w3-show')
  });
  $('.casdk-apps-btn').click(function() {
    externalLink('casdk');
  });
  $('#casdkInput').keyup(function(e) {
    if (e.which === 13) {
      $('#secretCodeSubmit').click()
      return false
    } else if (e.which === 27) {
      $('.secret-closebtn').click()
      return false
    }
  });
  $('#secretCodeSubmit').click(function(x) {
    var secret = $(this).val()
    console.log(secret, x)
  })
  function casdkInstBtn() {
    $('#casdkInstallBtn, #casdkInstallAppsBtn').delay(500).fadeIn(5000)
  }
</script>
