<button id="compileRestore" class="w3-green w3-display-middle w3-btn w3-ripple w3-hover-light-blue" style="letter-spacing:1.4px;" ng-click="startRestoreCompile()"><span class="icon-genius"></span> {{menu.start.label}} <span class="icon-lab2"></span></button>
<div class="w3-display-middle w3-card-4 w3-container w3-padding-16" id="fullSystemRestore">
  <span class="w3-display-topright icon-remove w3-hover-text-red w3-hover-black" style="cursor:pointer" ng-click="user.restore.full = false"></span>
  <input type="checkbox" id="fullRestoreChk" class="w3-check" ng-model="user.restore.full"/>
  <label for="fullRestoreChk"><span class='icon-stop_screen_share'></span> FULL SYSTEM RESTORE</label>
  <br>
  <input type="checkbox" id="deleteBackupsChk" class="w3-check" ng-model="user.restore.delBackups" ng-disabled="!user.restore.full"/>
  <label for="deleteBackupsChk"><span class='icon-caution'></span> DELETE ALL BACKUPS</label>
</div>
<div class="w3-display-bottom-middle w3-card-4 w3-container w3-padding" title="FULL SYSTEM RESTORE" id="systemRestoreInfo">
  <a href="" onclick="$('#helpDrop').insertAfter($('#fullSystemRestore'));helpDropdown()"><span class="icon-question"></span> Help</a>
  <h5><strong>This script is optimized to restore all files from their backups and restore image files to the default red color scheme. </strong> </h5>
  <br><b>This script will safely restore your system if you have not modified any files outside of AIO *OR* any files modified have a corresponding backup of the original file in same location with added '.org' extension, AIO does this automatically before modifying each file. </b>
  <br>If you have modified any important files yourself I assume you know what you are doing.
  <br>Although it is strongly recommended that backups are kept since they are not a detriment to the system, the option to delete all backups is provided to use at your own risk.
  <h5>Files that will not be reverted:</h5> For safety, AIO does not re-enable watchdog nor revert the file 'sm.conf'.  This is to prevent your system from ending up in a bootloop.  To revert sm.conf you must write your own script because it is a dangerous thing to do. Files used by SSH Bringback, Enable WIFI Tweak and Opera.ini are also left in their modified states for saftey/recovery reasons. *Autorun and related recovery scrtpts are not removed to ensure access is not lost if firmware version is currently on or updated to v59.00.502.  Removing autorun scripts from v59.00.502+ may result in a full lockout of access from your CMU including tweak installs.
