<!DOCTYPE>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Image Joiner for Background Rotator Tweak.</title>
  <link rel="Stylesheet" href="./PhotoJoiner_files/Style.css">
  <link rel="Stylesheet" href="./PhotoJoiner_files/fineuploader.css">
  <link rel="Stylesheet" href="./PhotoJoiner_files/colorpicker.css">
  <script src="../assets/js/spdValues.js"></script>
  <script src="../assets/js/audioSourceList.js"></script>
  <script src="../assets/vendor/angular.min.js"></script>
  <script src="../assets/vendor/checklist-model.js"></script>
  <script src="../assets/vendor/angular-route.js"></script>
  <script src="../controllers/home.js"></script>
  <link rel="stylesheet" href="../assets/css/index.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="stylesheet" href="../assets/vendor/w3.css">
  <link rel="stylesheet" href="../assets/vendor/ico.css">
  <script>
  if (typeof module === 'object') {
    window.module = module;
    module = undefined;
  }
  </script>
  <script src="../assets/vendor/jquery.min.js"></script>
  <script src="../assets/vendor/angular-sanitize.min.js"></script>
  <script src="../assets/vendor/jquery.detect_swipe.js"></script>
  <script src="../assets/vendor/w3.js"></script>
  <script src="../assets/vendor/bootstrap.min.js"></script>
  <script src="../assets/vendor/bootbox.min.js"></script>
  <script src="../assets/vendor/intro.js"></script>
  <script src="../assets/vendor/featherlight.min.js"></script>
  <script src="../assets/vendor/featherlight.gallery.min.js"></script>
  <script src="../assets/vendor/showdown.min.js"></script>
  <script src="../assets/js/ex-links.js"></script>
  <script src="../assets/js/index.js"></script>
  <script src="../assets/js/build-tweaks.js"></script>
  <script src="../assets/js/tour.js"></script>
  <script src="../assets/js/notifications.js"></script>
  <script src="../assets/js/events.js"></script>
  <!--script src="../assets/js/saveCanvas.js"></script-->
  <!--script type="text/javascript" src="./PhotoJoiner_files/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="./PhotoJoiner_files/jquery.fineuploader-3.0.min.js"></script>
  <script type="text/javascript" src="./PhotoJoiner_files/jquery-ui.js"></script-->
  <script type="text/javascript" src="./PhotoJoiner_files/colorpicker.js"></script>
  <script type="text/javascript" src="./PhotoJoiner_files/TableFunctions.js"></script>
  <!--script type="text/javascript" src="./PhotoJoiner_files/PhotoJoin.js"></script>
  <script src="../assets/vendor/jquery.mousewheel.min.js"></script-->
  <script>
  if (window.module) module = window.module;
  </script>
  <style>
  html {
    overflow-x: auto;
    overflow-y: hidden;
  }
  .topgap {
    display: none !important;
  }
  body {
    margin-top: 20px;
  }
  a {
    color: #000 !important;
  }
  a.w3-btn {
    color: #b2fff1 !important;
  }
  footer {
    height: 20px;
  }
  small,
  i {
    font-family: inherit;
  }
  </style>
</head>
<body ng-app="AIO" ng-controller="MainCtrl">
  <ng-view></ng-view>
  <footer>
    <span class="copyleft" title="Copyleft">&copy; 2018 <a href="#" onclick="externalLink('copyleft')">Trevelopment.</a></span>
  </footer>
</body>
<script>
  $(function(){
    $('[data-toggle="tooltip"]').tooltip({html: true, delay: {show: 1200, hide: 200}});
  })
</script>
</html>
