<script>
if(localStorage.getItem('dat272') !== null) {
  $('#firstTimer').remove();
}
</script>
<div id="firstTimer"><h1 id="warning-locked-outn">WARNING: V59.00.502+ HAS LOCKED OUT TWEAKS INSTALLATION</h1>
<h1 id="if-you-want-to-install-tweaks">IF YOU ARE CONSIDERING UPDATING TO V59.00.502 OR HIGHER THEN INSTALLING THE ID7_RECOVERY PACK WILL ALLOW FOR A SEAMLESS UPDATE WITHOUT ANY LOSS OF ACCESS</strong></h1>
<h2 id="if-you-have-already-upated-there-may-be-hope">IF YOU HAVE ALREADY UPDATED OR PURCHASED THE VEHICLE WITH V59.OO.502+ YOUR ONLY OPTION RIGHT NOW IS TO <a href="" onclick="externalLink('im-super-serial')" title="By Serial Connection">CONNECT VIA SERIAL CONNECTION </a>.  THEN YOU WILL NEED TO INSTALL THE ID7_RECOVERY PACK AFTER GAINING SERIAL ACCESS.</h2><p>
</div>
<h5><b>Hi Everyone!</b></h5>
<p>This is the most solid AIO release to date.
  Performance has been improved for the Video Player App, Speedometer App, and AIO Tweaks App, a new variant has been added to the Speedometer, and Android Auto Headunit App works better than ever.
  AIO is used by tens of thousands all over the world and has become the safest, easiest, and best way to modify your MZD Infotainment System.
  I am so proud of this app and thank each and every one of you for tweaking!
</p> <p>~Trezdog44</p></div>
