<script>
if(localStorage.getItem('dat278') !== null || localStorage.getItem('dat276') !== null || localStorage.getItem('dat274') !== null || localStorage.getItem('dat272') !== null) {
  $('#firstTimer').remove();
}
</script>
<div id="firstTimer">
  <h1 id="warning-locked-outn">WARNING: FIRMWARE V59.00.502+ AND HIGHER HAS REMOVED THE ABILITY TO INSTALL TWEAKS!</h1>
  <h1 id="if-you-want-to-install-tweaks">IF YOU ARE CONSIDERING UPDATING TO V59.00.502 OR HIGHER THEN INSTALLING THE AUTORUN & RECOVERY PACK WILL ALLOW FOR A SEAMLESS UPDATE WITHOUT ANY LOSS OF ACCESS</strong>
  </h1>
  <h2 id="if-you-have-already-upated-there-may-be-hope">IF YOU HAVE ALREADY UPDATED OR PURCHASED THE VEHICLE WITH V59.OO.502+ YOUR ONLY OPTION RIGHT NOW IS TO <a href="" onclick="externalLink('im-super-serial')" title="By Serial Connection">CONNECT VIA SERIAL CONNECTION </a>AND INSTALL
    THE AUTORUN & RECOVERY PACK AFTER GAINING SERIAL ACCESS.</h2>
  <p>
</div>
<h4>
  <b>The app install script should automatically repair all known issues including apps not appearing in the app list.</b> If you experience <b>ANY App Installation/Uninstallation Issues</b> please send the contents of your USB Drive after running the tweaks installer to <a href="mailto:trez@mazdatweaks.com?Subject=App%20Installation%20Issues" class="link">Trez@mazdatweaks.com</a></b>
</h4>
<h5>I try to answer every email I recieve especially if you are having an issue. </h5>
<h6>Don't hesitate to contact me if you have a problem or question, I am happy to help.  I don't think anyone will have any app installation issues anymore but I will definitely answer right away if someone is having an issue with Android Auto because they just didn't know to connect their phone to the car's USB or they need to use a better USB cable, I get at least one of those almost every day! The only time I will not reply is if you ask me for CarPlay.  <!-- because it is just not going to happen.  Android Auto took at least 20+ very talented developers over 3 years to get to where it is today, I only contributed a small part and made it more accessible to all of you. That kind of time and support would be needed for an equaly, if not more chalanging project like CarPlay and that just does not exist right now, sorry. --></h6>
<p>
</p>
<p>~Trezdog44</p>
</div>
