<h1 id="warning-locked-outn">WARNING: V59.00.502+ HAS LOCKED OUT TWEAKS INSTALLATION</h1>
<h1 id="if-you-want-to-install-tweaks">IF YOU ARE CONSIDERING UPDATING TO V59.00.502 THEN INSTALLING THE ID7_RECOVERY PACK WILL ALLOW FOR A SEAMLESS UPDATE WITHOUT ANY LOSS OF ACCESS</strong></h1>
<h2 id="if-you-have-already-upated-there-may-be-hope">IF YOU HAVE ALREADY UPDATED OR PURCHASED THE VEHICLE WITH V59.OO.502 YOUR ONLY OPTION RIGHT NOW IS TO <a href="" onclick="externalLink('im-super-serial')" title="By Serial Connection">CONNECT VIA SERIAL CONNECTION </a>.  THEN YOU WILL NEED TO INSTALL THE ID7_RECOVERY PACK AFTER GAINING SERIAL ACCESS.</h2><p>

<h5>Its been a while since the last update because I have been very busy but since I do this for fun there are many improvements.  Thanks for the support!</h5>


</p> <p>~Trezdog44</p></div>
