<!DOCTYPE html>
<style>
.bootbox.update-info {
  margin-top: 0px;
}

</style>
<p><a href="changelog.htm" data-featherlight="ajax">Full Changelog</a></p>
<h1>AIO + CASDK</h1>

<h3>v2.8.6</h3>

<h4>New Code Signing Certificate</h4>

<ul>
  <li><a onclick="donate()">Donations</a> are very appreciated! (Feel free to Venmo me a coffee <a onclick="externalLink('venmo')">@Trezdog44</a>)</li>
</ul>

<h4>Android Auto Headunit App v1.13</h4>

<ul>
  <li>Support for interleaved channel data</li>
  <li>Exit icon is now the Mazda Logo</li>
</ul>

<h4>Speedometer v6.1</h4>

<ul>
  <li>Minor positioning/sizing fixes</li>
</ul>

<h4>Remove Boot Animation</h4>

<ul>
  <li>Fixed for FW with &quot;newLoopLogo&quot;</li>
</ul>
<h4>Fixed CASDK Compile Issue</h4>
