/**
* [{APP_NAME}]
*
* @version: 0.0.1
* @author: [author]
* @description [description]
*
* [license]
*/

/**
* NOTICE: It's important that you target your application with the [app] attribute
*/

[app="app.background"] {
	background-color: #000000;
}

[app="app.background"] .container{
	width:800px;
	height:400px;
	padding:20px;
	border:1px solid gray;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	background: black;
}
[app="app.background"] .image-slider-wrapper{
	overflow: hidden;
}
[app="app.background"] #image_slider{
	position: relative;
	height: 280px;
	padding:0;
}
[app="app.background"] #image_slider li{
	max-width: 100%;
	width:100px;
	height:80px;
	float:left;
	list-style: none;
}

[app="app.background"] .selectimage {
	outline: 3px solid #73AD21;
	outline-offset: -4px;
}
